local-ai-packaged/Automated_Outreach___Start.json
{
  "name": "Automated Outreach - Start",
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.wlw.de/de/suche/page/2?employeeCounts=1-10_11-50_51-100&q=Taxi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        360
      ],
      "id": "8a5a360e-deb5-49e5-8d27-fbf921598625",
      "name": "Get Data Taxi"
    },
    {
      "parameters": {
        "fromEmail": "denny@redel-aisolutions.com",
        "toEmail": "levin@redel-aisolutions.com",
        "subject": "Company Scraping Summary",
        "html": "=<h3>Company Scraping Summary</h3>\n<p>Unternehmen erfolgreich gescrapted.</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -160,
        -20
      ],
      "id": "9ceb67b4-b422-4db6-9ed6-7048473c0124",
      "name": "Send Email",
      "webhookId": "5989bcf9-ba2f-4ad5-b449-fed1d59799d0",
      "executeOnce": true,
      "credentials": {
        "smtp": {
          "id": "CYZNGyn17Upg6wQ8",
          "name": "SMTP account Denny"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const links = $input.first().json.filteredWebsiteLinks.split(',').map(link => link.trim().replace(/^\"|\"$/g, ''));\nreturn links.map(link => ({ json: { websiteLink: link } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        140
      ],
      "id": "6c615027-cc9d-4e8f-961e-5213a2286beb",
      "name": "Split Links",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        140
      ],
      "id": "b48ac460-d9bf-4f8d-b277-e8b0f78167c4",
      "name": "Main Loop",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TptrKt5WQhyqAxCE",
          "mode": "list",
          "cachedResultName": "Automated Outreach - Main"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -160,
        140
      ],
      "id": "661a3b05-2412-4727-a01e-957410498d4d",
      "name": "Execute Workflow",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        140,
        140
      ],
      "id": "356ab28a-293f-42d8-baa5-6312941239e0",
      "name": "Wait",
      "webhookId": "fc209ee9-2695-4172-ba36-6d1f0636b60a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a48442ae-270d-4eea-859b-203f30dd26bb",
              "name": "filteredWebsiteLinks",
              "value": "=\"https://www.wlw.de/de/suche?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/2?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/3?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/4?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/5?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/6?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/7?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/8?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/9?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/10?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/11?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/12?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/13?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/14?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/15?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/16?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/17?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/18?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/19?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/20?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/21?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/22?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/23?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/24?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/25?q=Taxi\",\n  \"https://www.wlw.de/de/suche/page/26?q=Taxi\"\n",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        140
      ],
      "id": "9c914290-1878-4c41-b30c-0ce00dbeed6a",
      "name": "Set Page Links"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1020,
        140
      ],
      "id": "cb20b977-c20b-4fda-87b9-28efff31a6e2",
      "name": "Test workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Split Links": {
      "main": [
        [
          {
            "node": "Main Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Loop": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Main Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Page Links": {
      "main": [
        [
          {
            "node": "Split Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test workflow": {
      "main": [
        [
          {
            "node": "Set Page Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "984903d2-4d35-4211-96b8-57cc7f7b5401",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed4f3f37220443d82fec76dc79b331975281d2af5e70e3db9bcbd487ec78ae41"
  },
  "id": "Kx5R9uqGYWwD36UG",
  "tags": []
}