backup/26I8pDaqdrE45e0t.json
{"createdAt":"2025-08-23T12:10:23.010Z","updatedAt":"2025-08-24T05:29:55.340Z","id":"26I8pDaqdrE45e0t","name":"Personal fast followUp","active":true,"isArchived":false,"nodes":[{"parameters":{"fromEmail":"denny@redel-aisolutions.com","toEmail":"={{ $('Webhook').first().json.body.email }}","subject":"=Telefonat vom {{ new Date().toLocaleDateString('de-DE') }}","emailFormat":"text","text":"=Hallo Herr {{ $('Webhook').first().json.body.nickname }},\n \nnochmals vielen Dank für das freundliche Gespräch. Wie kurz erwähnt, unterstützen wir Unternehmen dabei, mit individuell zugeschnittenen Automatisierungslösungen Zeit zu sparen, sodass sich Ihre Mitarbeiter voll auf ihre Kerntätigkeit fokusieren können.\n \nZwei Beispiele aus der Praxis: \n- Die K&S Media GmbH konnte durch automatisierte Lead-Qualifikation monatlich einen ganzen Manntag einsparen und rund 6 % mehr Lizenzen verkaufen.\n- Food-with-Style hat durch eine automatische Datenübertragung von Instagram auf die eigene Webseite über 200 Stunden gespart\n \nGerne zeige ich Ihnen in einem unverbindlichen 30-Minuten-Termin, wie ein solcher Ansatz auch in Ihrem Unternehmen aussehen könnte.\n \nIch freue mich über einen Terminvorschlag von Ihrer Seite.\n \n \nMit freundlichen Grüßen\nDenny Redel\nGründer & Geschäftsführer\n \n📧 denny@redel-aisolutions.com\n📞 +49 152 55954492 \n🌐 www.redel-aisolutions.com\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[512,304],"id":"2bb049ba-ea0d-495a-9f6a-cc87092d9fb4","name":"Send Email","webhookId":"87db5811-2785-4cd3-9eca-e51d2068e7ba","credentials":{"smtp":{"id":"vjiQhYivlWINSbBf","name":"Redel"}}},{"parameters":{"respondWith":"json","responseBody":"{\n  \"erfolg\": true\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[992,304],"id":"ef7268cd-b585-4a5b-97b4-51d9d6934797","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"redel","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-48,304],"id":"1e6df9e1-c877-4894-9037-0b079173852e","name":"Webhook","webhookId":"35942e7d-efb4-4321-9586-d77721323533"}],"connections":{"Send Email":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"ks-media.redel-aisolutions.com","content-length":"61","x-forwarded-for":"2a02:8070:c18b:b2e0:c0a8:4bbc:9a37:bcf8","content-type":"application/json","user-agent":"Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd9dN2UFogonEb7v8jKaNSHnM5qI-LQ)","accept-encoding":"gzip, deflate, br"},"params":{},"query":{},"body":{"nickname":"redel","email":"denny.redel@icloud.com","row":8},"webhookUrl":"https://ks-media.redel-aisolutions.com/webhook/redel","executionMode":"production"}}]},"versionId":"dd97f300-93e9-4419-aa9c-862b6228d2d5","triggerCount":1,"tags":[{"createdAt":"2025-04-16T15:25:32.507Z","updatedAt":"2025-04-16T15:25:32.507Z","id":"4D5dq4cSJjnDnu1n","name":"Personal"}],"shared":[{"createdAt":"2025-08-23T12:10:23.010Z","updatedAt":"2025-08-23T12:10:23.010Z","role":"workflow:owner","workflowId":"26I8pDaqdrE45e0t","projectId":"om5T1jDAb8yZPqPE","project":{"createdAt":"2025-08-18T20:30:18.174Z","updatedAt":"2025-08-18T20:33:31.932Z","id":"om5T1jDAb8yZPqPE","name":"Denny Redel <denny.redel@icloud.com>","type":"personal","icon":null,"description":null}}]}