backup/4DJqCxBLN7x182c2.json
{"createdAt":"2025-08-18T20:30:24.756Z","updatedAt":"2025-08-24T10:26:52.351Z","id":"4DJqCxBLN7x182c2","name":"Automated Outreach - Send","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-40,0],"id":"1d7b5034-8690-4efc-959f-c3b8c26f90e2","name":"Start Workflow"},{"parameters":{"documentId":{"__rl":true,"value":"13nnsOrhgThLhlkL6_bcHwzPs3UnsuKEADHS611oJVB4","mode":"list","cachedResultName":"Kopie von Lead-Liste-Speditionen","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13nnsOrhgThLhlkL6_bcHwzPs3UnsuKEADHS611oJVB4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Tabellenblatt1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13nnsOrhgThLhlkL6_bcHwzPs3UnsuKEADHS611oJVB4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[360,0],"id":"94f89a9e-2ed3-4682-9775-307ec1b9219c","name":"Get Lead Information","credentials":{"googleSheetsOAuth2Api":{"id":"0aRlaoxfv5m8PiQz","name":"Google Sheets Levin"}}},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const emails = item.json.Email ? item.json.Email.split(',').map(email => email.trim()).slice(0, 3) : [];\n  return {\n    json: {\n      ...item.json,\n      Emails: emails // New field with array of up to 3 emails\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,0],"id":"54c3f54a-8f53-46ad-9e09-9a322a9b6003","name":"Split Emails"},{"parameters":{"assignments":{"assignments":[{"id":"6c737cb7-88bc-4352-b1d8-ef54d5ed3a81","name":"Firmenname","value":"={{ $('Split Emails').first().json.Firmenname }}","type":"string"},{"id":"25a2a7ae-bb0c-47e3-9f79-d0dfdda63dbb","name":"Email","value":"={{ $('Split Emails').first().json.Emails }}","type":"string"},{"id":"17f8ec75-34e0-45a9-bb5f-0bb9dc9a3e2b","name":"Subject","value":"=Jetzt schnell","type":"string"},{"id":"c1b466fc-d995-42f1-8d68-3e4b33439204","name":"Body","value":"=Sehr geehrte Damen und Herren,  mein Name ist Denny Redel und ich vertrete Redel AI-Solutions. Wir sind ein Anbieter von KI-Lösungen und suchen nach zuverlässigen Partnern in der Speditionsbranche.  Wir haben festgestellt, dass {{ $json[\"Firmenname\"] }} einen exzellenten Ruf in der Branche hat und würden gerne die Möglichkeit einer Zusammenarbeit erkunden. Könnten wir einen kurzen Anruf vereinbaren, um mehr über Ihre Dienstleistungen zu erfahren und zu besprechen, wie wir gegenseitig profitieren könnten?  Ich freue mich auf Ihre Rückmeldung.  Mit freundlichen Grüßen,   [Ihr Name]   [Ihre Kontaktdaten]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,0],"id":"afb8e6f4-4099-480b-80df-b36d231e68ca","name":"Set Email Template"},{"parameters":{"fromEmail":"denny@redel-aisolutions.com","toEmail":"levin@redel-aisolutions.com, levin.redel@icloud.com","subject":"={{ JSON.parse($json[\"Email\"]).slice(0, 3).join(\",\") }}","html":"={{ $json.Body }}","options":{"appendAttribution":false,"attachments":"presentation"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1320,0],"id":"a7ce45fa-c9e6-4993-9076-93e901a57ca7","name":"Send Cold Emails","webhookId":"91e0c6c9-53f9-4b5e-a36c-9db4385590cb","executeOnce":false,"credentials":{"smtp":{"id":"CYZNGyn17Upg6wQ8","name":"SMTP account Denny"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1040,0],"id":"e6254143-26ab-4145-a614-d3461c2b8f63","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1780,0],"id":"ed9eeb72-3e5d-4d57-a1ef-8aa32e3d8df0","onError":"continueRegularOutput"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1540,0],"id":"a827165b-d1e9-437e-8530-dca01c63cb22","name":"Wait","webhookId":"cc9eb801-d17c-4ad1-8b18-757676c73fc0","onError":"continueRegularOutput"},{"parameters":{"fromEmail":"denny@redel-aisolutions.com","toEmail":"levin.redel@icloud.com","subject":"=Hi","emailFormat":"text","text":"Hallo was machst du so?\nIch mag Eis","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[220,240],"id":"4a84cded-e311-4741-a630-f2e94a162eb8","name":"Send Cold Emails1","webhookId":"91e0c6c9-53f9-4b5e-a36c-9db4385590cb","credentials":{"smtp":{"id":"CYZNGyn17Upg6wQ8","name":"SMTP account Denny"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1jTt7q6Etu0MvCN2zvdb05EPhY4rgi-h2","mode":"list","cachedResultName":"REMI_Präsentation.pdf","cachedResultUrl":"https://drive.google.com/file/d/1jTt7q6Etu0MvCN2zvdb05EPhY4rgi-h2/view?usp=drivesdk"},"options":{"binaryPropertyName":"presentation"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,0],"id":"ae0d147c-b271-452e-ad56-3e68dcad80fb","name":"Get PDF","credentials":{"googleDriveOAuth2Api":{"id":"2oafYBwxhXZgywPy","name":"Google Drive Levin"}}}],"connections":{"Start Workflow":{"main":[[{"node":"Send Cold Emails1","type":"main","index":0}]]},"Get Lead Information":{"main":[[{"node":"Split Emails","type":"main","index":0}]]},"Split Emails":{"main":[[{"node":"Set Email Template","type":"main","index":0}]]},"Set Email Template":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[]]},"Replace Me":{"main":[[]]},"Send Cold Emails":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Get PDF":{"main":[[{"node":"Get Lead Information","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true,"instanceId":"ed4f3f37220443d82fec76dc79b331975281d2af5e70e3db9bcbd487ec78ae41"},"pinData":{},"versionId":"d1ca323d-3a66-4ac1-a9e2-960df8ef2303","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-08-18T20:30:24.756Z","updatedAt":"2025-08-18T20:30:24.756Z","role":"workflow:owner","workflowId":"4DJqCxBLN7x182c2","projectId":"om5T1jDAb8yZPqPE","project":{"createdAt":"2025-08-18T20:30:18.174Z","updatedAt":"2025-08-18T20:33:31.932Z","id":"om5T1jDAb8yZPqPE","name":"Denny Redel <denny.redel@icloud.com>","type":"personal","icon":null,"description":null}}]}