backup/g3BdhnmTG9pfErnk.json
{"createdAt":"2025-08-18T20:30:24.756Z","updatedAt":"2025-08-24T10:26:52.351Z","id":"g3BdhnmTG9pfErnk","name":"Wegweiser Prototyp","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"Wegweiser-Prototyp","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[520,100],"id":"dd741356-1ca9-4c81-94a0-d1b453179369","name":"Webhook","webhookId":"17e88a9d-635b-4b8d-b351-f9700e6002f7"},{"parameters":{"jsCode":"const input = $('Speech to text').item.json.text || '';\nconst cleanInput = input.replace(/[!@#$%^&*()_+=[\\]{};':\"\\\\|,.<>\\/?]+/g, ''); // Entfernt Sonderzeichen außer Bindestrich\n\nreturn [{ json: { cleanInput: cleanInput } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,100],"id":"d12a6230-f153-4a64-ad4b-2709eb128db5","name":"Clean Input"},{"parameters":{"content":"## Prepare Input Data\n","height":580,"width":1000,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,-80],"id":"081016d7-828b-43e4-8950-9b68765b8af6","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"f79ba66f-5c23-4257-94de-c360152bed15","name":"session_id","value":"={{ $('Crypto Webhook').first().json.data }}","type":"string"},{"id":"e83848e5-ccb3-4efe-8907-c6abca12a1dc","name":"chatInput","value":"={{ $('Clean Input').first().json.cleanInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1320,100],"id":"285d3140-fdad-4b56-ac5a-41d7503f88a1","name":"Set Message ID Webhook","alwaysOutputData":true},{"parameters":{"type":"SHA3-512","value":"={{ $json.headers['x-real-ip'] }}{{ $json.headers['user-agent'] }}secret"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[720,100],"id":"1961cdc7-0ab3-4ff3-8ac2-7f013c0e2a8b","name":"Crypto Webhook"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1560,320],"id":"addc731b-74ea-4fed-b7f4-057974b3c019","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"c7rOayprscHnt5na","name":"OpenAi account Main (Denny)"}}},{"parameters":{"promptType":"define","text":"={{ $('Clean Input').item.json.cleanInput }}","options":{"systemMessage":"=You are the \"Wegweiser\" assistant, guiding users to specific rooms in a building.\n\nRules\n\nQuery: Process only inputs with 2+ characters that are real words (no gibberish like \"e\" or \"dhsaiuw\"). Return 0 for nonsense.\nIntent: Match the input contextually to the most likely room:\nRezeption (ID: 1): For inquiries, check-ins, or information.\nStandesamt (ID: 2): For official matters (e.g., marriage, birth certificates, documents).\nService Lounge (ID: 3): For waiting, relaxation, or customer service.\nOutput:\nIf a room is matched (ID: 1, 2, or 3), do not return a video directly. Instead, ask the user for confirmation (e.g., \"Möchten Sie den Weg zu [Raum] sehen?\") and wait for their approval.\nAfter user confirmation, if the video for the room is known, return only the room ID (1, 2, or 3).\nReturn 0 if no match.\nExamples\n\n\"Ich muss mich anmelden\" → Ask: \"Möchten Sie den Weg zur Rezeption sehen?\" → If confirmed → 1\n\"Ich brauche eine Geburtsurkunde\" → Ask: \"Möchten Sie den Weg zum Standesamt sehen?\" → If confirmed → 2\n\"Wo kann ich warten?\" → Ask: \"Möchten Sie den Weg zur Service Lounge sehen?\" → If confirmed → 3\n\"Ich möchte heiraten\" → Ask: \"Möchten Sie den Weg zum Standesamt sehen?\" → If confirmed → 2\n\"Ich suche den Empfang\" → Ask: \"Dafür müssen Sie zur Rezeption. Soll ich ihnen den Weg zeigen?\" → If confirmed → 1\n\"Ich will mich entspannen\" → Ask: \"Möchten Sie den Weg zur Service Lounge sehen?\" → If confirmed → 3\n\"ewqsqq\" → 0\nReminders\n\nReturn 0 for single letters, gibberish, or unmatched inputs.\nNever send a video directly; always require user confirmation first.\nAfter confirmation, return only the room ID (1, 2, or 3) if the video is known.","maxIterations":4}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1620,100],"id":"f35dd8d6-3cc3-43d1-891d-d0d10ff2dcad","name":"Weg-Weiser","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f53b4522-0fbc-4192-a1e8-84317b2783ef","leftValue":"={{ $('Weg-Weiser').first().json.output }}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2120,100],"id":"bdb3fcad-b037-437f-80aa-6abf6a72c99e","name":"If"},{"parameters":{"content":"# Processing\n","height":580,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1480,-80],"typeVersion":1,"id":"2dee2bd8-211e-4bf6-ba2a-17e853650ee2","name":"Sticky Note4"},{"parameters":{"respondWith":"binary","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3000,-60],"id":"de581a81-61f6-434b-8487-8e7cdfc17782","name":"Respond to Webhook"},{"parameters":{"resource":"audio","input":"Ich habe leider kein Zimmer gefunden, dass deinen Anforderungen entspricht.\nVersuche gerne etwas anderes.","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2780,-60],"id":"26e155f4-95b7-4808-a0e9-13fa71770eaf","name":"No Match Response","credentials":{"openAiApi":{"id":"c7rOayprscHnt5na","name":"OpenAi account Main (Denny)"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $('Get Video URL').first().json.url }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3000,140],"id":"868d9d17-42f4-495a-8d04-ab72fcec69d5","name":"Respond to Webhook1"},{"parameters":{"content":"## Create Data Base\n","height":340,"width":300},"type":"n8n-nodes-base.stickyNote","position":[960,-460],"typeVersion":1,"id":"51bc4c60-bf24-4107-ab40-b8e1267378d9","name":"Sticky Note7"},{"parameters":{"content":"## Delete Data Base","height":340,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","position":[480,-460],"typeVersion":1,"id":"1cb8fa5d-020d-42c8-9b07-b318a835e4ce","name":"Sticky Note2"},{"parameters":{"content":"## Fill Data Base\n","height":340,"width":300,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1260,-460],"typeVersion":1,"id":"690a5f17-ed7d-4f72-a475-6e43dbbcef23","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[560,-360],"id":"739476b1-fd2e-4066-9d60-a5f3c51bd4dd","name":"Manual Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT url\nFROM videos\nWHERE id = {{ $('Weg-Weiser').item.json.output }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2780,140],"id":"0ed178fb-7e84-46fc-b6a1-cb5f7ab22966","name":"Get Video URL","credentials":{"postgres":{"id":"537NEV7Y7hoi0YUm","name":"Self Hosted"}}},{"parameters":{"content":"## Prepare Output Data","height":580,"width":1160,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2040,-80],"id":"9f4a0c01-3c6e-4bb3-a840-2f932408769c","name":"Sticky Note5"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO videos (title, url)\nVALUES\n  ('Rezeption', 'Wegweiser 1.mp4'),\n  ('Standesamt', 'Wegweiser 2.mp4'),\n  ('Service Lounge', 'Wegweiser 3.mp4')","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1360,-360],"id":"c96975e9-6de9-4b8b-891c-6aeede0b9571","name":"Insert Videos Table","alwaysOutputData":false,"credentials":{"postgres":{"id":"537NEV7Y7hoi0YUm","name":"Self Hosted"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE videos (\n  id SERIAL PRIMARY KEY,\n  title TEXT,\n  url TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1060,-360],"id":"28499677-7959-4fd3-9fa7-69bd3b84e503","name":"Create Videos Table","alwaysOutputData":true,"credentials":{"postgres":{"id":"537NEV7Y7hoi0YUm","name":"Self Hosted"}}},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS videos","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[760,-360],"id":"6d9b1cca-f210-43aa-8e6e-554a05508ef9","name":"Delete Videos Table","alwaysOutputData":false,"credentials":{"postgres":{"id":"537NEV7Y7hoi0YUm","name":"Self Hosted"}}},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"audio","options":{"language":"de","temperature":1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[920,100],"id":"d8eaaad3-eebf-4f9f-bde7-6a73dcb5ab66","name":"Speech to text","credentials":{"openAiApi":{"id":"c7rOayprscHnt5na","name":"OpenAi account Main (Denny)"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Set Message ID Webhook').first().json.session_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1760,340],"id":"ea615e9e-b21b-4e08-ae59-2ba677a52c8a","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"537NEV7Y7hoi0YUm","name":"Self Hosted"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5393a35b-7579-4bc6-a7a3-d64d3eb7a3f4","leftValue":"={{ $('Weg-Weiser').first().json.output }}","rightValue":"1","operator":{"type":"string","operation":"equals"}},{"id":"4bb51477-7bc6-4b7a-88b9-5d2f8eaa173a","leftValue":"={{ $('Weg-Weiser').first().json.output }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fe056aa4-3e9e-4ba2-aa7e-780be2839921","leftValue":"={{ $('Weg-Weiser').first().json.output }}","rightValue":"3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2320,200],"id":"0c0b84bb-74e2-4fb9-8d30-b5d39c9639b5","name":"If1"},{"parameters":{"resource":"audio","input":"={{ $('Weg-Weiser').first().json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2780,340],"id":"73cb0dd1-4f61-4529-87bb-30b56db435c6","name":"OpenAI","credentials":{"openAiApi":{"id":"c7rOayprscHnt5na","name":"OpenAi account Main (Denny)"}}},{"parameters":{"respondWith":"binary","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3000,340],"id":"382387d9-fd8f-4480-b3ee-dd991d1d2eba","name":"Respond to Webhook2"},{"parameters":{"resource":"audio","input":"Um zur Rezeption zur gelangen, müssen Sie jeglich durch den Haupteingang gehen, gerade aus laufen und nach 5 Metern nach links abbiegen. Ihre Ansprechpartner sind Max Mustermann und Anna Musterfrau","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1660,-380],"id":"57dd60e9-3953-44ac-ad99-d8e69cea08f3","name":"OpenAI1","credentials":{"openAiApi":{"id":"c7rOayprscHnt5na","name":"OpenAi account Main (Denny)"}}}],"connections":{"Webhook":{"main":[[{"node":"Crypto Webhook","type":"main","index":0}]]},"Clean Input":{"main":[[{"node":"Set Message ID Webhook","type":"main","index":0}]]},"Set Message ID Webhook":{"main":[[{"node":"Weg-Weiser","type":"main","index":0}]]},"Crypto Webhook":{"main":[[{"node":"Speech to text","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Weg-Weiser","type":"ai_languageModel","index":0}]]},"Weg-Weiser":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"No Match Response","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"No Match Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Delete Videos Table","type":"main","index":0}]]},"Get Video URL":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Create Videos Table":{"main":[[{"node":"Insert Videos Table","type":"main","index":0}]]},"Delete Videos Table":{"main":[[{"node":"Create Videos Table","type":"main","index":0}]]},"Speech to text":{"main":[[{"node":"Clean Input","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Weg-Weiser","type":"ai_memory","index":0}]]},"If1":{"main":[[{"node":"Get Video URL","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true,"instanceId":"ed4f3f37220443d82fec76dc79b331975281d2af5e70e3db9bcbd487ec78ae41"},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-test-u33729.vm.elestio.app","x-real-ip":"93.207.164.104","x-forwarded-for":"93.207.164.104","x-forwarded-proto":"https","x-forwarded-port":"443","connection":"close","content-length":"96342","accept":"*/*","content-type":"multipart/form-data; boundary=----WebKitFormBoundaryGpnEET1rJxEydPld","sec-fetch-site":"cross-site","origin":"null","sec-fetch-mode":"cors","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.3 Safari/605.1.15","sec-fetch-dest":"empty","accept-language":"de-DE,de;q=0.9","priority":"u=3, i","accept-encoding":"gzip, deflate, br"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n-test-u33729.vm.elestio.app/webhook/Wegweiser-Prototyp","executionMode":"production"}}],"Set Message ID Webhook":[{"json":{"session_id":"61e90885484d49eea643c13d291837935b6f59a615d43c4aebcf71daea42541a6d5a50d943f78d0136ab8611afc17e2c2f6911c12eebb0e2815b58ba9c915568","chatInput":"Ich muss zur Rezeption verschwinden wen komplett zu verstaubt Ich muss zur Rezeption"}}]},"versionId":"60955311-0eb1-4074-8911-eef9a4ed2b16","triggerCount":0,"tags":[{"createdAt":"2025-04-16T15:18:03.721Z","updatedAt":"2025-04-16T15:18:33.399Z","id":"hAZFpoylzRVpV5mT","name":"Commune"},{"createdAt":"2025-04-16T15:17:18.834Z","updatedAt":"2025-04-16T15:17:18.834Z","id":"FiE0KOB9mIP6XbMI","name":"Prototype"}],"shared":[{"createdAt":"2025-08-18T20:30:24.756Z","updatedAt":"2025-08-18T20:30:24.756Z","role":"workflow:owner","workflowId":"g3BdhnmTG9pfErnk","projectId":"om5T1jDAb8yZPqPE","project":{"createdAt":"2025-08-18T20:30:18.174Z","updatedAt":"2025-08-18T20:33:31.932Z","id":"om5T1jDAb8yZPqPE","name":"Denny Redel <denny.redel@icloud.com>","type":"personal","icon":null,"description":null}}]}