backup/NUVAf7ztgNyzuhlv.json
{"createdAt":"2025-08-18T20:30:24.756Z","updatedAt":"2025-08-24T10:26:52.351Z","id":"NUVAf7ztgNyzuhlv","name":"FWS - Main Agent - Final","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Clean Input').item.json.cleanInput }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview  \nYou are the \"Food-With-Style\" baking assistant, helping users search recipes.\n\n## Tools  \n- **Title Search**: Search by title with fuzzy matching. Capitalize first letter. Called once; returns IDs or [0] if no match or no response.  \n- **Category Search**: Search by category, translating non-English inputs to English before querying (e.g., \"Kuchen\" to \"Cake\"). Only these English categories are available: Pastry, Cookies, Brioche, Cake, Crumble, Galette, Cheesecake, Pie, Tart, Tartelettes. Called once; returns [0] if invalid or no response.  \n- **Ingredient Search**: Search by ingredient. Input: single English word, 2+ characters. Called twice (singular and plural, e.g., \"egg\" and \"eggs\"), combines IDs. Returns IDs; [0] if not found or no response.  \n- **Duration Search**: Search recipes by preparation time, always converting and querying in minutes. Input: raw string with time-related info (e.g., \"40 minutes\", \"5m-15m\", \"5m bis 15m\"). Parses time expressions and ranges, then queries numeric values only. Called once; returns IDs of matching recipes or [0] if none found or no response.  \n  - **Parsing Rules**: Convert all inputs to minutes (e.g., \"1h\" → 60, \"5m-15m\" → range query 5-15). For keywords, use the assigned value. Ignore non-numeric text unless it matches a keyword.\n\n## Rules  \n- **Query**: Only call a tool if the query is a real word (2+ characters, no gibberish like \"e\" or \"dhsaiuw\"). Return message if nonsense.  \n- **Intent**: Pick one if clear:  \n  - Title: \"recipe called\" or dish name.  \n  - Category: known type (Pastry, Cake, etc.).  \n  - Ingredient: food item.  \n  - Duration: time-related info (e.g., \"min\", \"h\", \"halbe stunde\", \"fast\").  \n- **Input**: Corrected to one tool. Ingredients: translate to English, singularize, call **Ingredient Search** twice (singular + plural), combine IDs. Other tools (Title, Category, Duration): call once with corrected input. Time: raw string, convert to minutes per Duration Search rules.  \n- **Output**:  \n  - If a tool is called: Parse the tool’s result and return \"[ids]\"; return \"[0]\" if no response received.  \n  - Only if no tools called: output: \"{\"recipe_ids\": [0]}\".  \n\n## Examples  \n- \"I want a recipe for cheesecake\" → Call **Title Search** once with \"Cheesecake\".  \n- \"Show me pastry recipes\" → Call **Category Search** once with \"Pastry\".  \n- \"Recipes with blueberries\" → Call **Ingredient Search** twice with \"blueberry\" and \"blueberries\".  \n- \"Quick recipes under 30 minutes\" → Call **Duration Search** once with \"30m\".  \n- \"I like cake\" → Call **Category Search** once with \"Cake\".  \n- \"I like berry\" → Call **Ingredient Search** twice with \"berry\" and \"berries\".  \n- \"I love eggs\" → Call **Ingredient Search** twice with \"egg\" and \"eggs\".  \n- \"halbe stunde\" → Call **Duration Search** once with \"30m\".  \n- \"ewqsqq\" → No tool called, return \"{\"recipe_ids\": [0]}\".  \n- \"Give me a fast recipe\" → Call **Duration Search** once with \"30m\" (from \"fast\").  \n\n## Reminders  \n- Only no tool calls for single letters or gibberish. Valid JSON. Only parse output after calling a tool. Handle no-response cases by returning [0] for tool calls.\n\nIMPORTANT: Always call `format_final_response` to format your final response!","maxIterations":4}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[840,420],"id":"5d409c9b-2713-4ab5-8522-22d0b90131c2","name":"Mother Agent","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"food_with_style_7421304","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1260,420],"id":"236474a9-074f-4294-ab05-46c70566a784","name":"Webhook","webhookId":"17e88a9d-635b-4b8d-b351-f9700e6002f7"},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"recipe_ids\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"integer\"\n\t\t\t}\n\t\t}\n\t},\n\t\"required\": [\"recipe_ids\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1280,620],"id":"0bf81cce-2ae0-48c9-8cc0-6d5bebb794ba","name":"Structured Output Parser"},{"parameters":{"operation":"executeQuery","query":"SELECT title, description, img_url, recipe_link\nFROM recipes_{{ $('Set Standard Language').first().json.user_language }}\nWHERE id = ANY(regexp_split_to_array(regexp_replace($1, '[\\[\\]]', '', 'g'), ',')::integer[]);","options":{"queryReplacement":"=$1: {{ $json.selected_ids }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2200,420],"id":"483554ab-8a32-4d88-80fc-d775f2ac950f","name":"Get Details","credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"assignments":{"assignments":[{"id":"e190f279-294c-4d54-ae34-3da15fdbabb0","name":"title_1","value":"={{ $('Get Details').all()[0] ? $input.all()[0].json.title : null }}","type":"string"},{"id":"407ac98a-2ac8-49d9-9ee3-05a0db1bb43b","name":"desc_1","value":"={{ $('Get Details').all()[0] ? $input.all()[0].json.description : null }}","type":"string"},{"id":"430a756a-a0f1-4c98-8288-f9769d7e631b","name":"img_1","value":"={{ $('Get Details').all()[0] ? $input.all()[0].json.img_url : null }}","type":"string"},{"id":"41223a69-040d-4044-bcf9-f08b9ea156ae","name":"link_1","value":"={{ $('Get Details').all()[0] ? $input.all()[0].json.recipe_link : null }}","type":"string"},{"id":"e715c272-c041-43fe-a15a-c212639c1bbd","name":"title_2","value":"={{ $('Get Details').all()[1] ? $input.all()[1].json.title : null }}","type":"string"},{"id":"08adc11d-fac3-4f3b-a744-4d991ca5e1f3","name":"desc_2","value":"={{ $('Get Details').all()[1] ? $input.all()[1].json.description : null }}","type":"string"},{"id":"26643f61-c534-4cb6-a585-9e26652a3ceb","name":"img_2","value":"={{ $('Get Details').all()[1] ? $input.all()[1].json.img_url : null }}","type":"string"},{"id":"0bd516e5-406e-4c4c-bc4c-389e4c5b02a4","name":"link_2","value":"={{ $('Get Details').all()[1] ? $input.all()[1].json.recipe_link : null }}","type":"string"},{"id":"cd1a3440-85c1-4d07-bba6-5e0a6f2aa859","name":"title_3","value":"={{ $('Get Details').all()[2] ? $input.all()[2].json.title : null }}","type":"string"},{"id":"cad4f0cf-85d1-449d-a9d6-cacad2603f49","name":"desc_3","value":"={{ $('Get Details').all()[2] ? $input.all()[2].json.description : null }}","type":"string"},{"id":"92efab99-a964-44bf-8116-796b9f9ba359","name":"img_3","value":"={{ $('Get Details').all()[2] ? $input.all()[2].json.img_url : null }}","type":"string"},{"id":"72a353a2-182c-41f6-872d-1e250753506b","name":"link_3","value":"={{ $('Get Details').all()[2] ? $input.all()[2].json.recipe_link : null }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2420,420],"id":"a421a2b7-39ea-4d5b-a8dc-2d33fe3c6dac","name":"Set Parameters","executeOnce":true},{"parameters":{"descriptionType":"manual","toolDescription":"=Search recipes by category, translating non-English category inputs into English before querying. Only the following predefined English categories are available: Pastry, Cookies, Brioche, Cake, Crumble, Galette, Cheesecake, Pie, Tart, Tartelettes. The agent must convert any non-English category term (e.g., \"Kuchen\" to \"Cake\", \"Tartelette\" to \"Tartelettes\") into its English equivalent from this list. Returns an array of recipe IDs matching the category; returns [0] if the input doesn’t match any available category after translation.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"=recipes_en","mode":"name"},"limit":1000,"where":{"values":[{"column":"category","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"}]},"options":{"outputColumns":["id"]}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[860,780],"id":"c0aac793-c3ae-4574-9b52-6664322e8420","name":"Category Search","credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"descriptionType":"manual","toolDescription":"=Search recipes by a single ingredient (e.g., \"flour\"). Input must be in English (translated by agent if needed). Returns IDs of recipes containing the ingredient; returns [0] if not found. Always  ✔query this tool two times, ingredient in singural and in plural.","operation":"executeQuery","query":"SELECT COALESCE(\n  (SELECT array_agg(id) \n   FROM recipes_en \n   WHERE LOWER(ingredients) LIKE '%' || LOWER($1) || '%'), \n  ARRAY[0]\n) AS recipe_ids;","options":{"queryReplacement":"=$1 : {{ $fromAI('ingredient') }}","replaceEmptyStrings":true}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[1040,780],"id":"4d965379-cff1-4d9f-8baa-12c5051f2e3b","name":"Ingredient Search","credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"descriptionType":"manual","toolDescription":"=- **Duration Search**: Search recipes by preparation time, always converting and querying in minutes. Input: raw string with time-related info (e.g., \"40 minutes\", \"5m-15m\", \"5m bis 15m\", \"fast\"). Parses time expressions and ranges, then queries numeric values only. Returns IDs of matching recipes; returns [0] if none found.  \n  - **Supported Formats**: Exact times (e.g., \"40 minutes\", \"1h\"), ranges (e.g., \"5m-15m\", \"5m bis 15m\"), or keywords (see below).  \n  - **Keyword Conversions**:  \n    - \"fast\" = 14 minutes  \n    - \"quick\" = 14 minutes  \n    - \"normal\" = 45m minutes  \n    - \"medium\" = 45 minutes  \n    - \"long\" = 61-300 minutes  \n    - \"slow\" = 61-300 minutes  \n    - \"halbe stunde\" = 30 minutes  \n  - **Parsing Rules**: Convert all inputs to minutes (e.g., \"1h\" → 60, \"5m-15m\" → range query 5-15). For keywords, use the assigned value. Ignore non-numeric text unless it matches a keyword.","operation":"executeQuery","query":"SELECT COALESCE(\n  (SELECT array_agg(id)\n   FROM recipes_en\n   WHERE (\n     -- User query is a range (e.g., \"10-20\")\n     ($1 LIKE '%-%'\n       AND (\n         -- Recipe has a range: check for overlap\n         (duration LIKE '%-%'\n           AND (\n             CAST(REGEXP_REPLACE(SPLIT_PART(duration, '-', 1), '[^0-9]', '', 'g') AS INTEGER) <= \n               CAST(REGEXP_REPLACE(SPLIT_PART($1, '-', 2), '[^0-9]', '', 'g') AS INTEGER)\n             AND \n             CAST(REGEXP_REPLACE(SPLIT_PART(duration, '-', 2), '[^0-9]', '', 'g') AS INTEGER) >= \n               CAST(REGEXP_REPLACE(SPLIT_PART($1, '-', 1), '[^0-9]', '', 'g') AS INTEGER)\n           )\n         )\n         OR\n         -- Recipe has a single value: check if it falls within the user's range\n         (duration NOT LIKE '%-%'\n           AND CAST(REGEXP_REPLACE(duration, '[^0-9]', '', 'g') AS INTEGER) >= \n               CAST(REGEXP_REPLACE(SPLIT_PART($1, '-', 1), '[^0-9]', '', 'g') AS INTEGER)\n           AND CAST(REGEXP_REPLACE(duration, '[^0-9]', '', 'g') AS INTEGER) <= \n               CAST(REGEXP_REPLACE(SPLIT_PART($1, '-', 2), '[^0-9]', '', 'g') AS INTEGER)\n         )\n       )\n     )\n     OR\n     -- User query is a single value (e.g., \"10\")\n     ($1 NOT LIKE '%-%'\n       AND (\n         -- Recipe has a range: check if the user's value falls within the range\n         (duration LIKE '%-%'\n           AND CAST(REGEXP_REPLACE(SPLIT_PART(duration, '-', 1), '[^0-9]', '', 'g') AS INTEGER) <= \n               CAST(REGEXP_REPLACE($1, '[^0-9]', '', 'g') AS INTEGER)\n           AND CAST(REGEXP_REPLACE(SPLIT_PART(duration, '-', 2), '[^0-9]', '', 'g') AS INTEGER) >= \n               CAST(REGEXP_REPLACE($1, '[^0-9]', '', 'g') AS INTEGER)\n         )\n         OR\n         -- Recipe has a single value: check if within ±10 minutes\n         (duration NOT LIKE '%-%'\n           AND CAST(REGEXP_REPLACE(duration, '[^0-9]', '', 'g') AS INTEGER) >= \n               GREATEST(0, CAST(REGEXP_REPLACE($1, '[^0-9]', '', 'g') AS INTEGER) - 10)\n           AND CAST(REGEXP_REPLACE(duration, '[^0-9]', '', 'g') AS INTEGER) <= \n               (CAST(REGEXP_REPLACE($1, '[^0-9]', '', 'g') AS INTEGER) + 10)\n         )\n       )\n     )\n   )\n  ), ARRAY[0]) AS recipe_ids;","options":{"queryReplacement":"={{ \n  time = $fromAI('user_time') || '';\n  // Handle ranges like \"5m-15m\" or \"5m bis 15m\"\n  if (/\\d+\\s*(min|m|h|hour)\\s*(-\\s*|\\s*bis\\s*)\\d+\\s*(min|m|h|hour)/i.test(time)) {\n    numbers = time.match(/\\d+/g);\n    start = parseInt(numbers[0]) * (/h|hour/i.test(time.split(/-|bis/)[0]) ? 60 : 1);\n    end = parseInt(numbers[1]) * (/h|hour/i.test(time.split(/-|bis/)[1]) ? 60 : 1);\n    return `${start}-${end}`;\n  }\n  // Handle \"half an hour\" as 30 minutes\n  if (/half\\s*(an\\s*)?hour/i.test(time)) {\n    return '30';\n  }\n  // Handle single values like \"5m\" or \"1h\"\n  match = /\\d+\\s*(min|m|h|hour)/i.exec(time);\n  if (match) {\n    value = parseInt(match[0]) * (/h|hour/i.test(match[0]) ? 60 : 1);\n    return `${value}`;\n  }\n  // Default to 0 if no valid input\n  return '0';\n}}","replaceEmptyStrings":true}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[1160,700],"id":"8adcba42-9072-4f32-aa30-2e65ec7aae04","name":"Duration Search","credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"operation":"executeQuery","query":"-- Aktiviere pg_trgm-Erweiterung\nCREATE EXTENSION IF NOT EXISTS pg_trgm;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2100,1120],"id":"dae088d7-506f-4940-9cbd-ed838db342d8","name":"Create Extension","alwaysOutputData":true,"credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8b24c568-d468-41a2-bf8f-1f07229c4b2c","leftValue":"={{ $json.noMatch }}","rightValue":"0","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"d7f8ab26-3ffb-4353-b51c-b3f9fff72870","leftValue":"={{ $('Mother Agent').first().json.output }}","rightValue":"Agent stopped due to max iterations.","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1800,420],"id":"03709d91-d84f-4d51-a22e-d8beb0aa7a22","name":"If"},{"parameters":{"descriptionType":"manual","toolDescription":"=Search recipes by title with fuzzy matching. Returns IDs; [0] if none found. ","operation":"executeQuery","query":"SELECT COALESCE(\n  (SELECT array_agg(id ORDER BY SIMILARITY(title, $1) DESC)\n   FROM recipes_{{ $('Set Standard Language').first().json.user_language }}\n   WHERE SIMILARITY(title, $1) > 0.4),\n  ARRAY[0]\n) AS recipe_ids;","options":{"queryReplacement":"=$1: {{ $fromAI('title') }}","replaceEmptyStrings":false}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[740,700],"id":"95e9601f-ac5b-4d20-9ed4-e933899cca41","name":"Title Search","credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"jsCode":"const recipeIds = $('Mother Agent').first().json.output.recipe_ids || [];\n\n// Filtere nur IDs >= 1 und entferne Duplikate\nconst validIds = [...new Set(recipeIds.filter(id => id >= 1))];\n\n// Wenn keine oder weniger als 3 gültige IDs, gib alle validen zurück\nif (validIds.length === 0) {\n  return [{ json: { selected_ids: [] } }];\n}\nif (validIds.length <= 3) {\n  return [{ json: { selected_ids: validIds } }];\n}\n\n// Fisher-Yates Shuffle für zufällige Auswahl\nconst shuffled = [...validIds];\nfor (let i = shuffled.length - 1; i > 0; i--) {\n  const j = Math.floor(Math.random() * (i + 1));\n  [shuffled[i], shuffled[j]] = [shuffled[j], shuffled[i]];\n}\n\n// Nimm die ersten 3 IDs\nconst selectedIds = shuffled.slice(0, 3);\n\nreturn [{ json: { selected_ids: selectedIds } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,420],"id":"6107cea7-7e5c-4aa6-b4f9-12b3d99a2335","name":"Random Pick"},{"parameters":{"jsCode":"const input = $input.first().json.chatInput || '';\nconst cleanInput = input.replace(/[!@#$%^&*()_+=[\\]{};':\"\\\\|,.<>\\/?]+/g, ''); // Entfernt Sonderzeichen außer Bindestrich\n\nreturn [{ json: { cleanInput: cleanInput } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-700,420],"id":"7e81a60d-5505-49ca-bab1-026ed7efa6fa","name":"Clean Input"},{"parameters":{"content":"## Prepare Input Data\n","height":420,"width":1860,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1300,280],"id":"c1fba2fb-fad1-447a-a4d4-a5f5737b7043","name":"Sticky Note3"},{"parameters":{"jsCode":"const input = $('Clean Input').first().json.cleanInput || '';\nconst maxLength = 50;\nconst minLength = 5;\n\nif (input.length > maxLength) {\n  return [{ json: { status: \"long\", message: \"Hey, your input’s a bit too long (max 50 characters). Please shorten it!\" } }];\n}\nif (input.length < minLength) {\n  return [{ json: { status: \"short\", message: \"Hey, could you expand this a bit further? (min 5 characters)\" } }];\n}\n\nreturn [{ json: { status: \"perfect\" } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-500,420],"id":"3b9cd579-f908-4a7d-894e-80eebc65b48a","name":"Check Input Length"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Check Input Length').first().json.status }}","rightValue":"short","operator":{"type":"string","operation":"equals"},"id":"c3eb8f62-fde4-4831-bf78-05a95f88c52d"}],"combinator":"and"},"renameOutput":true,"outputKey":"too short"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5acc7be-cfe5-43bd-981f-385e0d09c1a6","leftValue":"={{ $('Check Input Length').first().json.status }}","rightValue":"perfect","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"perfect"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a298566e-77e8-424a-8da0-5ee37cededb7","leftValue":"={{ $('Check Input Length').first().json.status }}","rightValue":"long","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"too long"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-100,420],"id":"473d5603-d3c8-426f-b06c-a67fe7f8c763","name":"Switch"},{"parameters":{"content":"# Data Base Search\n","height":700,"width":860,"color":4},"type":"n8n-nodes-base.stickyNote","position":[560,280],"typeVersion":1,"id":"4bd151a3-e6a0-4807-b2d4-7c969c12e99a","name":"Sticky Note4"},{"parameters":{"content":"## Prepare Output Data","height":700,"width":1540,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1420,280],"id":"cdb36f85-f504-4d24-8401-88cb911b1921","name":"Sticky Note5"},{"parameters":{"jsCode":"const recipeIds = $('Mother Agent').first().json.output.recipe_ids || [];\nreturn [{\n  json: {\n    noMatch: recipeIds.length === 1 && recipeIds[0] === 0\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,420],"id":"2c61a936-24aa-40f1-98b5-79c9c1ecaccc","name":"Validate Output"},{"parameters":{"assignments":{"assignments":[{"id":"f79ba66f-5c23-4257-94de-c360152bed15","name":"session_id","value":"={{ $('Crypto Webhook').first().json.data }}","type":"string"},{"id":"e83848e5-ccb3-4efe-8907-c6abca12a1dc","name":"chatInput","value":"={{ $('Webhook').item.json.body.user_time }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-900,420],"id":"b51611d1-9f0d-4dbb-97a2-68ac9b8be115","name":"Set Message ID Webhook","alwaysOutputData":true},{"parameters":{"type":"SHA3-512","value":"={{ $json.headers['x-real-ip'] }}{{ $json.headers['user-agent'] }}secret"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-1080,420],"id":"454574ac-4592-4260-9372-c31dd740fe20","name":"Crypto Webhook"},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS conversation_logs","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1020,1120],"id":"abd6d0c4-bed0-4226-9436-e79805253ea6","name":"Delete Chat History","alwaysOutputData":false,"credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO conversation_logs (session_id, user_input, agent_output)\nVALUES ($1, $2, $3);","options":{"queryReplacement":"=$1: {{ $('Set Message ID Webhook').first().json.session_id }}\n$2: {{ $('Clean Input').first().json.cleanInput }}\n$3: {{ $('Mother Agent').first().json.output }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1480,420],"id":"bea60d5a-d6d9-4933-b646-88eace95b35f","name":"Store Chat","alwaysOutputData":true,"credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"responseFormat":"json_object","temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[640,620],"id":"375878b6-3546-42d8-b1dc-10906f46541b","name":"4o mini JSON","credentials":{"openAiApi":{"id":"c7rOayprscHnt5na","name":"OpenAi account Main (Denny)"}}},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS recipes_en;\nDROP TABLE IF EXISTS recipes_de;\nDROP TABLE IF EXISTS recipes_fr;\nDROP TABLE IF EXISTS recipes_tr;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[840,1120],"id":"e60562dc-aa6b-4e5e-86f5-569ebf0f585a","name":"Delete Tables Recipes","alwaysOutputData":false,"credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS conversation_logs (\n    id SERIAL PRIMARY KEY,\n    session_id TEXT,\n    user_input TEXT,\n    agent_output TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1700,1120],"id":"a359720e-6fd4-41c8-9233-5b851876d9e9","name":"Create Chat History","credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"httpMethod":"POST","path":"change_language9412041231","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1120,980],"id":"d61378cc-fb8c-4ae6-b7e3-9bb77010d791","name":"Language Trigger","webhookId":"01fa4607-89ac-4c1b-99be-7a548955fa4e"},{"parameters":{"assignments":{"assignments":[{"id":"b8177305-295a-45c9-8475-65a13b2d1bb2","name":"language_prefix","value":"={{ $('Language Trigger').first().json.body.language }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-900,980],"id":"5b882cf6-1636-49c3-91d5-f8b23cae56b0","name":"Set Language Prefix"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"welcome_message\": \"Welcome to Food With Style!<br><br>I’m here to help you find recipes by title, ingredient, category, or time.<br><br>What are you looking for today?\",\n  \"follow_up_message\": \"I'm here for further assistance.\",\n  \"view_recipe\": \"View Recipe\",\n  \"no_recipes_found\": \"Sorry, no recipes found for your request.\",\n  \"input_placeholder\": \"Type a message...\",\n  \"send_button\": \"Send\",\n  \"powered_by\": \"Powered by <a href=\\\"https://redel-aisolutions.com/\\\" target=\\\"_blank\\\">Redel AI-Solutions</a>\",\n  \"language_updated\": \"Language updated successfully.\",\n  \"language_update_failed\": \"Failed to update language.\",\n  \"processing_error\": \"Sorry, there was an issue processing your request.\",\n  \"fetch_error\": \"There was an issue fetching the response. Please try again later.\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,740],"id":"b2a5235c-c690-411a-b424-871775c665ca","name":"Translation English"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"welcome_message\": \"Willkommen bei Food With Style!<br><br>Ich bin hier, um dir bei der Suche nach Rezepten nach Titel, Zutat, Kategorie oder Zeit zu helfen.<br><br>Was suchst du heute?\",\n  \"follow_up_message\": \"Ich bin hier für weitere Unterstützung.\",\n  \"view_recipe\": \"Rezept ansehen\",\n  \"no_recipes_found\": \"Entschuldigung, keine Rezepte für deine Anfrage gefunden.\",\n  \"input_placeholder\": \"Nachricht eingeben...\",\n  \"send_button\": \"Senden\",\n  \"powered_by\": \"Powered by <a href=\\\"https://redel-aisolutions.com/\\\" target=\\\"_blank\\\">Redel AI-Solutions</a>\",\n  \"language_updated\": \"Sprache erfolgreich aktualisiert.\",\n  \"language_update_failed\": \"Sprachaktualisierung fehlgeschlagen.\",\n  \"processing_error\": \"Entschuldigung, es gab ein Problem bei der Verarbeitung deiner Anfrage.\",\n  \"fetch_error\": \"Es gab ein Problem beim Abrufen der Antwort. Bitte versuche es später erneut.\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,900],"id":"96b081d4-bf7b-44e9-acb5-0d087c9d0468","name":"Translation German"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"welcome_message\": \"Bienvenue sur Food With Style !<br><br>Je suis ici pour t’aider à trouver des recettes par titre, ingrédient, catégorie ou temps.<br><br>Que cherches-tu aujourd’hui ?\",\n  \"follow_up_message\": \"Je suis là pour une assistance supplémentaire.\",\n  \"view_recipe\": \"Voir la recette\",\n  \"no_recipes_found\": \"Désolé, aucune recette trouvée pour ta demande.\",\n  \"input_placeholder\": \"Tape un message...\",\n  \"send_button\": \"Envoyer\",\n  \"powered_by\": \"Powered by <a href=\\\"https://redel-aisolutions.com/\\\" target=\\\"_blank\\\">Redel AI-Solutions</a>\",\n  \"language_updated\": \"Langue mise à jour avec succès.\",\n  \"language_update_failed\": \"Échec de la mise à jour de la langue.\",\n  \"processing_error\": \"Désolé, il y a eu un problème lors du traitement de ta demande.\",\n  \"fetch_error\": \"Il y a eu un problème lors de la récupération de la réponse. Veuillez réessayer plus tard.\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,1060],"id":"5cfb4db3-9331-4365-911c-f90657316be7","name":"Translation French"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"welcome_message\": \"Food With Style’a hoş geldin!<br><br>Başlık, malzeme, kategori veya süreye göre tarif bulmana yardımcı olmak için buradayım.<br><br>Bugün ne arıyorsun?\",\n  \"follow_up_message\": \"Daha fazla yardım için buradayım.\",\n  \"view_recipe\": \"Tarifi Görüntüle\",\n  \"no_recipes_found\": \"Üzgünüm, isteğin için tarif bulunamadı.\",\n  \"input_placeholder\": \"Bir mesaj yaz...\",\n  \"send_button\": \"Gönder\",\n  \"powered_by\": \"Powered by <a href=\\\"https://redel-aisolutions.com/\\\" target=\\\"_blank\\\">Redel AI-Solutions</a>\",\n  \"language_updated\": \"Dil başarıyla güncellendi.\",\n  \"language_update_failed\": \"Dil güncelleme başarısız oldu.\",\n  \"processing_error\": \"Üzgünüm, isteğin işlenirken bir sorun oluştu.\",\n  \"fetch_error\": \"Yanıt alınırken bir sorun oluştu. Lütfen daha sonra tekrar dene.\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,1220],"id":"823b0e17-4b8a-4829-8273-b21169b7fdc9","name":"Translation Turkish"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-140,980],"id":"e019e071-10f1-4285-94f3-9747068f00a3","name":"Aggregate"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      message: \"Language updated successfully.\", // You can customize this message\n      language_prefix: $('Set Language Prefix').first().json.language_prefix,\n      translations: $input.first().json.translations \n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,980],"id":"ce4e1629-8cf7-4b86-862a-ee9cc52f80f2","name":"Build Response"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      translations: items[0].json.data[0] // Extract the translations object from the nested array\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,980],"id":"70696d10-0dc2-4469-b94c-43dd1d42f630","name":"Extract Translations"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Set Language Prefix').first().json.language_prefix }}","rightValue":"en","operator":{"type":"string","operation":"equals"},"id":"d5c2f685-0085-41db-a10f-d0bc7a068afe"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb1a8703-7b19-4499-a651-2d20a8ec5638","leftValue":"={{ $('Set Language Prefix').first().json.language_prefix }}","rightValue":"de","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2575782-d34b-4a13-92ed-83160e521317","leftValue":"={{ $('Set Language Prefix').first().json.language_prefix }}","rightValue":"fr","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"53e12d92-1bcc-43b8-9505-a29b4ab4ccb8","leftValue":"={{ $('Set Language Prefix').first().json.language_prefix }}","rightValue":"tr","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":0}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-680,960],"id":"4a900708-39cb-4377-b955-da104ea5c837","name":"Switch1"},{"parameters":{"content":"## Translation","height":700,"width":1860},"type":"n8n-nodes-base.stickyNote","position":[-1300,700],"typeVersion":1,"id":"a2fec09b-f4dc-4391-93ba-64a586141c23","name":"Sticky Note6"},{"parameters":{"assignments":{"assignments":[{"id":"8c5f559d-f9b8-42ed-806c-909f171b7442","name":"user_language","value":"={{ $('Webhook').item.json.body.language || 'en' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-300,420],"id":"abe48c76-9e2e-4518-8c2b-a4f6f40176d8","name":"Set Standard Language"},{"parameters":{"operation":"executeQuery","query":"-- English table (full original structure)\nCREATE TABLE recipes_en (\n  id SERIAL PRIMARY KEY,\n  title TEXT,\n  category TEXT,\n  ingredients TEXT,\n  duration TEXT,\n  description TEXT,\n  img_url TEXT,\n  recipe_link TEXT\n);\n\n-- German table (reduced columns, translated)\nCREATE TABLE recipes_de (\n  id SERIAL PRIMARY KEY,\n  title TEXT,\n  description TEXT,\n  img_url TEXT,\n  recipe_link TEXT\n);\n\n-- French table (reduced columns, translated)\nCREATE TABLE recipes_fr (\n  id SERIAL PRIMARY KEY,\n  title TEXT,\n  description TEXT,\n  img_url TEXT,\n  recipe_link TEXT\n);\n\n-- Turkish table (reduced columns, translated)\nCREATE TABLE recipes_tr (\n  id SERIAL PRIMARY KEY,\n  title TEXT,\n  description TEXT,\n  img_url TEXT,\n  recipe_link TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1900,1120],"id":"65d5d3f1-39ba-4e32-aa82-f21b43e10b4c","name":"Create Recipes Table","alwaysOutputData":true,"credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO recipes_en (title, category, ingredients, duration, description, img_url, recipe_link)\nVALUES\n  ('Heart Pastry', 'Pastry', '1 sheet puff pastry, 200 ml milk, 50 g sugar, 2 egg yolks, 25 g cornstarch, 1 teaspoon vanilla extract, 150 g cream, Fresh strawberries, Sliced almonds, Egg yolk (for brushing), Powdered sugar (for dusting)', '50m-60m', 'Puff pastries filled with diplomat cream and strawberries, perfect for any occasion.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Heart-Pastry-Recipe-C6y980FNaaI.png?v=1734873536', 'https://food-with-style.com/blogs/recipes/Heart-Pastry'),\n  ('Blueberry Tartelettes', 'Tartelettes', '150 g flour, 75 g cold butter (in pieces), 50 g powdered sugar, 1 egg yolk, 1 pinch of salt, 1-2 tbsp cold water, 150 g blueberries, 50 g sugar, 1 tbsp lemon juice, 1 tsp cornstarch (dissolved in 1 tbsp water), 250 ml milk, 2 egg yolks, 50 g sugar, 20 g cornstarch, 1 tsp vanilla extract, 20 g butter, 100 ml whipped cream', '10m-20m', 'Shortcrust pastry tartlets with a creamy filling and a burst of blueberries.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Blueberry-Tartelettes-Recipe-DARR8NYtNTs.png?v=1734873536', 'https://food-with-style.com/blogs/recipes/Blueberry-Tartelettes'),\n  ('Almond Swirls', 'Tartelettes', '2 sheets of puff pastry (about 275 g each, refrigerated), 100 g ground almonds, 80 g sugar, 1 tsp cinnamon (optional), 1 egg white (Size M), 2 tbsp cream, 1 tsp vanilla extract, 1 egg yolk + 1 tbsp milk (for brushing), Powdered sugar for dusting', '60m', 'Flaky pastry swirls with a rich almond filling, both beautiful and delicious.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Almond-Swirls-Recipe-DB1ufFXtPuH.png?v=1734873536', 'https://food-with-style.com/blogs/recipes/Almond-Swirls'),\n  ('Blueberry Streuseltaler', 'Crumble', '250 g all-purpose flour, 125 ml lukewarm milk, 25 g sugar, 1 tsp dry yeast, 1 egg, 50 g softened butter, A pinch of salt, 200 g fresh blueberries, 50 g sugar, 1 tablespoon lemon juice, 75 g all-purpose flour, 50 g sugar, 50 g cold butter (cubed), 100 g powdered sugar, 2-3 tablespoons lemon juice', '15m', 'Soft, fluffy dough layered with blueberry jam and a crumbly streusel topping.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Blueberry-Streuseltaler-C53zAbFtG4q.png?v=1737782222', 'https://food-with-style.com/blogs/recipes/Blueberry-Streuseltaler'),\n  ('San Sebastian Cheesecake', 'Cake', '500g Cream Cheese (unsalted) or Quark, 4 Eggs, 120g Sugar, 1.5 tablespoon Vanilla Extract, Juice of Half a Bio Lemon, 20g Cornstarch, 290g Cream (liquid), 100g dark chocolate (roughly chopped), 80ml cream (liquid)', '65m', 'A unique cheesecake with a creamy interior and a caramelized top.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/San-Sebastian-Cheesecake-Recipe-Cvjeya-ttuS.png?v=1734873536', 'https://food-with-style.com/blogs/recipes/San-Sebastian-Cheesecake');\n\nINSERT INTO recipes_de (title, description, img_url, recipe_link)\nVALUES\n  ('Herzgebäck', 'Blätterteiggebäck gefüllt mit Diplomatencreme und Erdbeeren, perfekt für jeden Anlass.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Heart-Pastry-Recipe-C6y980FNaaI.png?v=1734873536', 'https://food-with-style.com/de-de/blogs/recipes/Heart-Pastry'),\n  ('Blaubeer-Tartelettes', 'Mürbeteig-Tartelettes mit cremiger Füllung und einem Hauch von Blaubeeren.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Blueberry-Tartelettes-Recipe-DARR8NYtNTs.png?v=1734873536', 'https://food-with-style.com/de-de/blogs/recipes/Blueberry-Tartelettes'),\n  ('Mandelwirbel', 'Flockige Teigwirbel mit einer reichen Mandelfüllung, sowohl schön als auch lecker.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Almond-Swirls-Recipe-DB1ufFXtPuH.png?v=1734873536', 'https://food-with-style.com/de-de/blogs/recipes/Almond-Swirls'),\n  ('Blaubeer-Streuseltaler', 'Weicher, fluffiger Teig mit Blaubeermarmelade und krümeliger Streuselkrone.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Blueberry-Streuseltaler-C53zAbFtG4q.png?v=1737782222', 'https://food-with-style.com/de-de/blogs/recipes/Blueberry-Streuseltaler'),\n  ('San Sebastian Käsekuchen', 'Ein einzigartiger Käsekuchen mit cremigem Inneren und karamellisierter Oberfläche.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/San-Sebastian-Cheesecake-Recipe-Cvjeya-ttuS.png?v=1734873536', 'https://food-with-style.com/de-de/blogs/recipes/San-Sebastian-Cheesecake');\n\nINSERT INTO recipes_fr (title, description, img_url, recipe_link)\nVALUES\n  ('Pâtisserie en cœur', 'Pâtisseries feuilletées remplies de crème diplomate et de fraises, parfaites pour toute occasion.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Heart-Pastry-Recipe-C6y980FNaaI.png?v=1734873536', 'https://food-with-style.com/fr-fr/blogs/recipes/Heart-Pastry'),\n  ('Tartelettes aux myrtilles', 'Tartelettes en pâte sablée avec une garniture crémeuse et une explosion de myrtilles.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Blueberry-Tartelettes-Recipe-DARR8NYtNTs.png?v=1734873536', 'https://food-with-style.com/fr-fr/blogs/recipes/Blueberry-Tartelettes'),\n  ('Tourbillons aux amandes', 'Tourbillons feuilletés avec une riche garniture aux amandes, à la fois beaux et délicieux.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Almond-Swirls-Recipe-DB1ufFXtPuH.png?v=1734873536', 'https://food-with-style.com/fr-fr/blogs/recipes/Almond-Swirls'),\n  ('Streuseltaler aux myrtilles', 'Pâte douce et moelleuse garnie de confiture de myrtilles et d’un crumble croustillant.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Blueberry-Streuseltaler-C53zAbFtG4q.png?v=1737782222', 'https://food-with-style.com/fr-fr/blogs/recipes/Blueberry-Streuseltaler'),\n  ('Cheesecake San Sebastian', 'Un cheesecake unique avec un intérieur crémeux et un dessus caramélisé.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/San-Sebastian-Cheesecake-Recipe-Cvjeya-ttuS.png?v=1734873536', 'https://food-with-style.com/fr-fr/blogs/recipes/San-Sebastian-Cheesecake');\n\nINSERT INTO recipes_tr (title, description, img_url, recipe_link)\nVALUES\n  ('Kalp Pastası', 'Diplomat kreması ve çilekle doldurulmuş milföy hamuru, her duruma uygun.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Heart-Pastry-Recipe-C6y980FNaaI.png?v=1734873536', 'https://food-with-style.com/tr-tr/blogs/recipes/Heart-Pastry'),\n  ('Yaban Mersinli Tarteletler', 'Kremalı dolgulu ve yaban mersini patlamasıyla kısa hamurlu tarteletler.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Blueberry-Tartelettes-Recipe-DARR8NYtNTs.png?v=1734873536', 'https://food-with-style.com/tr-tr/blogs/recipes/Blueberry-Tartelettes'),\n  ('Badem Girdapları', 'Zengin badem dolgusuyla hem güzel hem lezzetli pul pul hamur girdapları.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Almond-Swirls-Recipe-DB1ufFXtPuH.png?v=1734873536', 'https://food-with-style.com/tr-tr/blogs/recipes/Almond-Swirls'),\n  ('Yaban Mersinli Streuseltaler', 'Yaban mersinli reçel ve ufalanmış streusel üstüyle yumuşak, kabarık hamur.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/Blueberry-Streuseltaler-C53zAbFtG4q.png?v=1737782222', 'https://food-with-style.com/tr-tr/blogs/recipes/Blueberry-Streuseltaler'),\n  ('San Sebastian Peynirli Kek', 'Kremamsı iç kısmı ve karamelize üstüyle benzersiz bir peynirli kek.', 'https://cdn.shopify.com/s/files/1/0761/8150/4329/files/San-Sebastian-Cheesecake-Recipe-Cvjeya-ttuS.png?v=1734873536', 'https://food-with-style.com/tr-tr/blogs/recipes/San-Sebastian-Cheesecake');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2640,1120],"id":"ab031528-9c0e-4164-a41d-afc85e8b08aa","name":"Insert Recipes Table","alwaysOutputData":false,"credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"content":"## Create Data Base\n","height":420,"width":840},"type":"n8n-nodes-base.stickyNote","position":[1420,980],"typeVersion":1,"id":"086d886e-8524-4f34-8ddd-8f47803bbb7a","name":"Sticky Note7"},{"parameters":{"content":"## Delete Data Base","height":420,"width":880,"color":3},"type":"n8n-nodes-base.stickyNote","position":[560,980],"typeVersion":1,"id":"53285285-9aba-479d-8e8d-7b0912b9c44a","name":"Sticky Note2"},{"parameters":{"content":"## Fill Data Base\n","height":420,"width":700,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2260,980],"typeVersion":1,"id":"81aae5c6-baf8-4bab-b9b5-0284a93aa9a9","name":"Sticky Note"},{"parameters":{"operation":"executeQuery","query":"-- Create English table\nCREATE TABLE responses_en (\n  id SERIAL PRIMARY KEY,\n  response_short TEXT,\n  response_long TEXT,\n  response_error TEXT\n);\n\n-- Create German table\nCREATE TABLE responses_de (\n  id SERIAL PRIMARY KEY,\n  response_short TEXT,\n  response_long TEXT,\n  response_error TEXT\n);\n\n-- Create French table\nCREATE TABLE responses_fr (\n  id SERIAL PRIMARY KEY,\n  response_short TEXT,\n  response_long TEXT,\n  response_error TEXT\n);\n\n-- Create Turkish table\nCREATE TABLE responses_tr (\n  id SERIAL PRIMARY KEY,\n  response_short TEXT,\n  response_long TEXT,\n  response_error TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1500,1120],"id":"3eb6e2c9-b33f-4d08-8738-84bb0f4897cd","name":"Create Response Tables","alwaysOutputData":true,"credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS responses_en;\nDROP TABLE IF EXISTS responses_de;\nDROP TABLE IF EXISTS responses_fr;\nDROP TABLE IF EXISTS responses_tr;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1200,1120],"id":"5bbd5503-ec5d-44ff-acae-5d4f74e22987","name":"Delete Respones","alwaysOutputData":false,"credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"operation":"executeQuery","query":"-- English responses\nINSERT INTO responses_en (response_short, response_long, response_error)\nVALUES\n  ('Hey, could you expand this a bit further?', 'Hey, your message is a bit too long. Please shorten it!', 'Sorry, I couldn’t find any recipes matching your request. Try something else!');\n\n-- German responses\nINSERT INTO responses_de (response_short, response_long, response_error)\nVALUES\n  ('Hey, könntest du das etwas weiter ausführen?', 'Hey, deine Nachricht ist etwas zu lang. Bitte kürze sie!', 'Entschuldigung, ich konnte keine Rezepte finden, die deiner Anfrage entsprechen. Versuche etwas anderes!');\n\n-- French responses\nINSERT INTO responses_fr (response_short, response_long, response_error)\nVALUES\n  ('Hé, peux-tu développer un peu plus ?', 'Hé, ton message est un peu trop long. Raccourcis-le, s’il te plaît !', 'Désolé, je n’ai trouvé aucune recette correspondant à ta demande. Essaie autre chose !');\n\n-- Turkish responses\nINSERT INTO responses_tr (response_short, response_long, response_error)\nVALUES\n  ('Hey, bunu biraz daha açabilir misin?', 'Hey, mesajın biraz fazla uzun. Lütfen kısalt!', 'Üzgünüm, isteğine uyan hiçbir tarif bulamadım. Başka bir şey dene!');\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2440,1120],"id":"8e9c7de5-920c-4319-92b7-c097335558c5","name":"Insert Responses","alwaysOutputData":true,"credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"operation":"executeQuery","query":"SELECT response_long\nFROM responses_{{ $('Set Standard Language').first().json.user_language }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[120,540],"id":"360d651a-25c7-468f-b954-e312f5fa3b02","name":"Select Response Long","credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"operation":"executeQuery","query":"SELECT response_short\nFROM responses_{{ $('Set Standard Language').first().json.user_language }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[120,300],"id":"735e4783-c8d8-4291-bbfb-06124e99d2b6","name":"Select Response Short","credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"operation":"executeQuery","query":"SELECT response_error\nFROM responses_{{ $('Set Standard Language').first().json.user_language }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1980,680],"id":"43f6c8be-feee-42f8-81bb-52c0ffc572b0","name":"Select Response Error","credentials":{"postgres":{"id":"9UF8YDL7lOOU7hmY","name":"Postgres Levin"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $('Select Response Long').first().json.response_long }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[320,540],"id":"0b9fc9d2-c8da-40a9-a811-5bd2dbe9e817","name":"Webhook Long"},{"parameters":{"respondWith":"text","responseBody":"={{ $('Select Response Short').first().json.response_short }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[320,300],"id":"b8782c19-9c39-43de-b174-73c6946d3390","name":"Webhook Short"},{"parameters":{"respondWith":"text","responseBody":"={{ $('Select Response Error').first().json.response_error }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2200,680],"id":"1e475371-ce54-403d-9acd-6b7e6db6fdf2","name":"Webhook Error"},{"parameters":{"respondWith":"text","responseBody":"={{ $('Set Parameters').first().json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2640,420],"id":"ec514995-2622-4fc5-a347-cee8464aa37c","name":"Webhook Cards"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[660,1120],"id":"c185cb54-0bf0-4420-bcb6-0eeaebfbb100","name":"Manual Trigger"}],"connections":{"Webhook":{"main":[[{"node":"Crypto Webhook","type":"main","index":0}]]},"Mother Agent":{"main":[[{"node":"Store Chat","type":"main","index":0}],[{"node":"Select Response Error","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Mother Agent","type":"ai_outputParser","index":0}]]},"Get Details":{"main":[[{"node":"Set Parameters","type":"main","index":0}]]},"Set Parameters":{"main":[[{"node":"Webhook Cards","type":"main","index":0}]]},"Category Search":{"ai_tool":[[{"node":"Mother Agent","type":"ai_tool","index":0}]]},"Ingredient Search":{"ai_tool":[[{"node":"Mother Agent","type":"ai_tool","index":0}]]},"Duration Search":{"ai_tool":[[{"node":"Mother Agent","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"Random Pick","type":"main","index":0}],[{"node":"Select Response Error","type":"main","index":0}]]},"Title Search":{"ai_tool":[[{"node":"Mother Agent","type":"ai_tool","index":0}]]},"Random Pick":{"main":[[{"node":"Get Details","type":"main","index":0}]]},"Clean Input":{"main":[[{"node":"Check Input Length","type":"main","index":0}]]},"Check Input Length":{"main":[[{"node":"Set Standard Language","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Select Response Short","type":"main","index":0}],[{"node":"Mother Agent","type":"main","index":0}],[{"node":"Select Response Long","type":"main","index":0}]]},"Create Extension":{"main":[[{"node":"Insert Responses","type":"main","index":0}]]},"Validate Output":{"main":[[{"node":"If","type":"main","index":0}]]},"Set Message ID Webhook":{"main":[[{"node":"Clean Input","type":"main","index":0}]]},"Crypto Webhook":{"main":[[{"node":"Set Message ID Webhook","type":"main","index":0}]]},"Delete Chat History":{"main":[[{"node":"Delete Respones","type":"main","index":0}]]},"Store Chat":{"main":[[{"node":"Validate Output","type":"main","index":0}]]},"4o mini JSON":{"ai_languageModel":[[{"node":"Mother Agent","type":"ai_languageModel","index":0}]]},"Delete Tables Recipes":{"main":[[{"node":"Delete Chat History","type":"main","index":0}]]},"Create Chat History":{"main":[[{"node":"Create Recipes Table","type":"main","index":0}]]},"Language Trigger":{"main":[[{"node":"Set Language Prefix","type":"main","index":0}]]},"Set Language Prefix":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Translation English":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Translation German":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Translation French":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Translation Turkish":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Extract Translations","type":"main","index":0}]]},"Extract Translations":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Translation English","type":"main","index":0}],[{"node":"Translation German","type":"main","index":0}],[{"node":"Translation French","type":"main","index":0}],[{"node":"Translation Turkish","type":"main","index":0}]]},"Set Standard Language":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Create Recipes Table":{"main":[[{"node":"Create Extension","type":"main","index":0}]]},"Insert Recipes Table":{"main":[[]]},"Create Response Tables":{"main":[[{"node":"Create Chat History","type":"main","index":0}]]},"Delete Respones":{"main":[[{"node":"Create Response Tables","type":"main","index":0}]]},"Insert Responses":{"main":[[{"node":"Insert Recipes Table","type":"main","index":0}]]},"Select Response Short":{"main":[[{"node":"Webhook Short","type":"main","index":0}]]},"Select Response Long":{"main":[[{"node":"Webhook Long","type":"main","index":0}]]},"Select Response Error":{"main":[[{"node":"Webhook Error","type":"main","index":0}]]},"Webhook Cards":{"main":[[]]},"Manual Trigger":{"main":[[{"node":"Delete Tables Recipes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Berlin","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true,"instanceId":"ed4f3f37220443d82fec76dc79b331975281d2af5e70e3db9bcbd487ec78ae41"},"pinData":{},"versionId":"7213eb7d-dc8f-4937-9dc5-c98bf87cb466","triggerCount":0,"tags":[{"createdAt":"2025-04-16T15:14:31.364Z","updatedAt":"2025-04-16T15:14:31.364Z","id":"a0sj5Rdco8h8IOeB","name":"FWS"},{"createdAt":"2025-04-16T15:29:17.672Z","updatedAt":"2025-04-16T15:29:17.672Z","id":"idviBckxAZ8HLBc3","name":"Final"}],"shared":[{"createdAt":"2025-08-18T20:30:24.756Z","updatedAt":"2025-08-18T20:30:24.756Z","role":"workflow:owner","workflowId":"NUVAf7ztgNyzuhlv","projectId":"om5T1jDAb8yZPqPE","project":{"createdAt":"2025-08-18T20:30:18.174Z","updatedAt":"2025-08-18T20:33:31.932Z","id":"om5T1jDAb8yZPqPE","name":"Denny Redel <denny.redel@icloud.com>","type":"personal","icon":null,"description":null}}]}