backup/q5h1vAwJ6yGtTXdO.json
{"createdAt":"2025-08-18T20:30:24.756Z","updatedAt":"2025-08-24T10:26:52.351Z","id":"q5h1vAwJ6yGtTXdO","name":"PrototypeQrier","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"1","operator":{"type":"string","operation":"equals"},"id":"84feffb1-5923-4367-aff8-6392733e7951"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3716b68b-828b-45bb-a37a-e8b3ffec1e85","leftValue":"={{ $json.output }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"adb70d97-547e-4880-8f13-8a3f396d4585","leftValue":"={{ $json.output }}","rightValue":"3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1660,-160],"id":"63c37c03-b4ff-4137-ad0c-4ea3a400041d","name":"Switch"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"transportmittel","mode":"list","cachedResultName":"transportmittel"},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[840,200],"id":"c598bcf3-c840-4457-96f6-6dd2a8607142","name":"Postgres","credentials":{"postgres":{"id":"6SqxrvWZi2YWF4Hw","name":"neondb_owner Remi 1.0"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE Transportmittel (\n    id SERIAL PRIMARY KEY,\n    name TEXT NOT NULL,\n    maxAnzahlPaletten INT NOT NULL CHECK (maxAnzahlPaletten > 0),\n    maxGewicht DECIMAL(10,2) NOT NULL CHECK (maxGewicht > 0),\n    laenge DECIMAL(10,2) NOT NULL CHECK (laenge > 0),\n    breite DECIMAL(10,2) NOT NULL CHECK (breite > 0),\n    hoehe DECIMAL(10,2) NOT NULL CHECK (hoehe > 0)\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[480,-780],"id":"8221397c-46a0-4c61-8a77-9e2adef5baca","name":"Postgres1","credentials":{"postgres":{"id":"6SqxrvWZi2YWF4Hw","name":"neondb_owner Remi 1.0"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO transportmittel (name, maxAnzahlPaletten, maxGewicht, laenge, breite, hoehe) VALUES\n('Caddy', 1, 250, 125, 85, 100),\n('Sprinter', 4, 1100, 320, 125, 170),\n('Transporter', 8, 900, 410, 200, 210),\n('LKW', 17, 6500, 720, 248, 260),\n('Sattelzug', 34, 24000, 1360, 244, 260);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[740,-780],"id":"ca2b3209-d9a6-435a-b2e2-7e7b858aef59","name":"Postgres2","credentials":{"postgres":{"id":"6SqxrvWZi2YWF4Hw","name":"neondb_owner Remi 1.0"}}},{"parameters":{"promptType":"define","text":"={{ $json.date }}{{ $json.thing }}","options":{"systemMessage":"Du arbeitest in einem Logistik Unternehmen, dass Expresstransporte für ihre Kunden organisiert Deine Aufgabe ist es die Anfrage zu kategorisieren. Du musst herausfinden welche Art von Transport, insbesondere welche Größe an Fahrzeug der Nutzer für seine Lieferung benötigt. Du findest alle verfügbaren Transportmittel in der \"TransportmittelDatenbank\". Frage zuerst alle möglichen Transportmittel ab und suche dann das aus, das mindestens die/das Produkt des Nutzers transportieren kann aber auch das was am nächsten dran ist. Also nicht für einen Bleistift einen LKW ;) nehme dann genau diesen Namen (1:1) an Transportmittel und gebe ihn aus. Gebe immer nur genau den Namen des Transportmittels aus. \n\nEntscheide immer anhand: \n- Gewicht\n- Anzahl an Paletten\n- Größe\nnur wenn alle drei Attribute der zu versendenen Artikel mit denen des Transportmittel übereinstimmen wähle das Transportmittel aus"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[940,-160],"id":"9ff67235-953e-491f-8425-bf6dd464963e","name":"Transporter Agent"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields2').item.json.thing }}{{ $('Edit Fields2').item.json.date }}","options":{"systemMessage":"Du bist ein Dringlichkeitserkenner. Du musst die dringlichkeit der Versendung der Packete analysieren und den Zahlen zuodnen: \n1: nicht dringlich\n2: normal \n3: sehr dringlich.\nGebe immer nur die Zahl zurück.\n\nNicht dringlich sind z.B. Möbel \nNormal sind z.B. Lebensmittel\nSehr dringend sind z.B. Organe. \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1300,-160],"id":"03419180-fc65-429d-b165-6a3f860c7437","name":"Dringlichkeit Agent"},{"parameters":{"assignments":{"assignments":[{"id":"02126156-27ed-4a8f-951c-103966a18932","name":"message","value":"=Ein Notfall !!!!\n\nKunde mit Name: {{ $('Edit Fields2').item.json.name }}\n\nMöchte: {{ $('Edit Fields2').item.json.thing }}\n\nBis: {{ $('Edit Fields2').item.json.date }}\n\nVersenden!!!\n\nBenötigtes Transportmittel: {{ $('Transporter Agent').item.json.output }}\n\nFahrer: Max Mustermann steht ab 18:00 zur verfügung und wurde Benachrichtigt \n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,20],"id":"6b76b47f-23e1-477b-8dfb-8e8667d6c8c4","name":"create Message"},{"parameters":{"httpMethod":"POST","path":"436e9e6b-fa29-4067-a9c6-8f05cd25e2b0","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-180,-520],"id":"44235afe-9e62-4e9f-93e3-7939c064e2ce","name":"Webhook1","webhookId":"436e9e6b-fa29-4067-a9c6-8f05cd25e2b0"},{"parameters":{"assignments":{"assignments":[{"id":"fd85da93-f8a7-48b3-9f4a-8291be007053","name":"chatInput","value":"={{ $json.text || $('Webhook1').item.json.body.userMessage }}","type":"string"},{"id":"e974e5a6-0f4b-4c7e-a077-e3f795e6e37d","name":"sessionId","value":"={{ $('Webhook1').item.json.headers['x-real-ip'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,-500],"id":"4b0d81bd-1f78-4d4c-ac61-5940753bb9a5","name":"Edit Fields3","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Ziel:\n\nFinde den Namen des Nutzers heraus.\nErmittele, was geliefert werden soll.\nErfahre die Frist für die Lieferung.\nDann sagst du ihm, dass ein Fahrer um 18:00 Uhr seine Lieferung abholen kann und ob das für ihn passt?\nÜbermittle die gesammelten Daten direkt an den Subworkflow sendEmailAgent.\nVorgehen:\n\nStelle gezielte Fragen, um den Namen des Nutzers zu erfahren.\nErfrage, was genau geliefert werden soll.\nKläre das genaue Datum und die Uhrzeit der Lieferung.\nSende die gesammelten Informationen mit folgenden Parametern an sendEmailAgent:\nmid: Name des Nutzers\ndatum: Datum und Uhrzeit der Frist\nthing: Was versendet werden soll\nOptimierter Prompt:\n\n\"Hallo! Bevor wir fortfahren, darf ich wissen, wie du heißt? 😊\nSobald ich deinen Namen kenne, brauche ich noch zwei weitere Infos:\nWas soll versendet werden?\nBis wann muss es ankommen?\nIch leite die Details dann direkt weiter!\"\nSobald du alle Informationen hast, übermittelst du sie an sendEmailAgent."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1800,-560],"id":"6a2eeaba-8d59-4f2c-b669-b318f96ad1c5","name":"Transporter Agent1"},{"parameters":{"assignments":{"assignments":[{"id":"fd85da93-f8a7-48b3-9f4a-8291be007053","name":"message","value":"={{ $json.message }}","type":"string"},{"id":"e974e5a6-0f4b-4c7e-a077-e3f795e6e37d","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"0bea7309-7bb0-4343-a840-f91c04f271f1","name":"date","value":"={{ $json.date }}","type":"string"},{"id":"2528a065-968a-49b9-850b-d19dd239a9f7","name":"thing","value":"={{ $json.thing }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,-160],"id":"8d57ea6b-a07b-4295-abeb-d43e01a7427b","name":"Edit Fields2"},{"parameters":{"workflowInputs":{"values":[{"name":"name"},{"name":"messag"},{"name":"date"},{"name":"thing"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[460,-160],"id":"5384f01a-98c9-4718-816c-0b1a962e54a1","name":"When Executed by Another Workflow"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":7},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1620,-360],"id":"672b3bd4-8421-497d-acc9-0c975265f1cb","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"6SqxrvWZi2YWF4Hw","name":"neondb_owner Remi 1.0"}}},{"parameters":{"name":"sendEmailAgent","description":"Rufe diesen Agenten auf wenn du die notwendigen Daten vom Nutzer hast und eine mail versenden möchtest","workflowId":{"__rl":true,"value":"q5h1vAwJ6yGtTXdO","mode":"list","cachedResultName":"PrototypeQrier"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name":"={{ $fromAI('nameOfCustomer') }}","messag":"={{ $json.chatInput }}","date":"={{ $fromAI('dateandtimetountiltosend') }}","thing":"={{ $fromAI('thinghewantstosend') }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"messag","displayName":"messag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"thing","displayName":"thing","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[2060,-340],"id":"612be618-81c7-44fd-950a-5ab831197178","name":"Call n8n Workflow Tool"},{"parameters":{"assignments":{"assignments":[{"id":"02126156-27ed-4a8f-951c-103966a18932","name":"message","value":"=Eine Wichtige Lieferung wurde beantragt.\n\nKunde mit Name: {{ $('Edit Fields2').item.json.name }}\n\nMöchte: {{ $('Edit Fields2').item.json.thing }}\n\nBis: {{ $('Edit Fields2').item.json.date }}\n\nVersenden!!!\n\nBenötigtes Transportmittel: {{ $('Transporter Agent').item.json.output }}\n\n\nFahrer: Max Mustermann steht ab 18:00 zur verfügung und wurde Benachrichtigt ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,-160],"id":"c5e22492-b61e-4382-a832-8ead09e1ecf3","name":"create Message1"},{"parameters":{"respondWith":"binary","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3040,-580],"id":"10e7a34c-e156-4f05-9ebe-481b4546ee9e","name":"Respond to Webhook"},{"parameters":{"type":"SHA3-512","value":"={{ $json.sessionId }}{{ $('Webhook1').item.json.headers['user-agent'] }}","dataPropertyName":"sessionId"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1520,-560],"id":"79be0334-36a8-45ef-9f83-853276ec3c8a","name":"Crypto"},{"parameters":{"inputText":"={{ $('Edit Fields2').item.json.thing }}{{ $('Edit Fields2').item.json.date }}","categories":{"categories":[{"category":"nicht dringlich","description":"Nicht dringlich sind z.B. Möbel "},{"category":"normal","description":"Normal sind z.B. Lebensmittel"},{"category":"dringlich","description":"Sehr dringend sind z.B. Organe. "}]},"options":{"fallback":"discard","systemPromptTemplate":"Please lead the input provided by the user to one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[1380,240],"id":"bd4df382-c180-4961-81c9-39a4d9048bb5","name":"Dringlichkeit Router"},{"parameters":{"content":"## Ersatz für Agent drüber\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n- updated von Levin\n- spart Blöcke (kompakter)\n- schneller (mehrere Inputs parallel)\n- Möglichkeit einen \"Extra-Output\" als Trash festzulegen\n> Options > When No Clear Match > Output on Extra, 'Other' Branch","height":360,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1340,180],"id":"3403efa1-fd69-4c6b-9b25-e8362bad0541","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"02126156-27ed-4a8f-951c-103966a18932","name":"message","value":"=Eine Lieferung wurde angefordert.\n\nKunde mit Name: {{ $('Edit Fields2').item.json.name }}\n\nMöchte: {{ $('Edit Fields2').item.json.thing }}\n\nBis: {{ $('Edit Fields2').item.json.date }}\n\nVersenden!!!\n\nBenötigtes Transportmittel: {{ $('Transporter Agent').item.json.output }}\n\n\nFahrer: Max Mustermann steht ab 18:00 zur verfügung und wurde Benachrichtigt ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,-360],"id":"22d14867-937b-49f0-99ed-a785e9f62ddb","name":"create Message2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1640,360],"id":"e8a4cf82-df6e-441c-be5c-9e45fdb98eca","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"c7rOayprscHnt5na","name":"OpenAi account Main (Denny)"}}},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"audio","options":{"language":"de"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[340,-620],"id":"c0e84c46-31cc-42fc-8128-4bcf64c4575f","name":"OpenAI","alwaysOutputData":true,"credentials":{"openAiApi":{"id":"c7rOayprscHnt5na","name":"OpenAi account Main (Denny)"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.headers['content-type'] }}","rightValue":"multipart/form-data","operator":{"type":"string","operation":"contains"},"id":"13016aa8-7826-4819-910a-0142ce223ffe"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1857d5ce-ed9d-4b16-8c6d-8de59cb10e42","leftValue":"={{ $json.headers['content-type'] }}","rightValue":"application/json","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,-520],"id":"f2edfdd7-745f-452b-8923-35c934731161","name":"Switch1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Switch1').item.json.headers['content-type'] }}","rightValue":"multipart/form-data","operator":{"type":"string","operation":"contains"},"id":"dc2aafe6-8c8a-45ea-994e-491ef08901b4"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e625dea6-01ae-4d5a-849b-9f6a64b51cbc","leftValue":"={{ $('Switch1').item.json.headers['content-type'] }}","rightValue":"application/json","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2240,-560],"id":"e4ffb897-e89e-410d-ba42-857edd802081","name":"Switch2"},{"parameters":{"resource":"audio","input":"={{ $('Transporter Agent1').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2460,-660],"id":"385f3cf9-d916-4dc8-84ed-87b7ad4d3188","name":"OpenAI1","credentials":{"openAiApi":{"id":"c7rOayprscHnt5na","name":"OpenAi account Main (Denny)"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $('Transporter Agent1').item.json.output }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2560,-520],"id":"795bffbc-498e-4b79-ac56-ae3a11df3768","name":"Respond to Webhook1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9c0e2137-de1d-4efa-9ea8-0e9e24c41240","leftValue":"={{ $json.chatInput }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[940,-500],"id":"37311016-6a65-4cfb-9b08-77c180cb3d47","name":"If"},{"parameters":{"respondWith":"text","responseBody":"error","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1160,-440],"id":"3af8de37-527c-4f6a-a296-4c74e5c4d9c9","name":"Respond to Webhook2"},{"parameters":{"fromEmail":"denny@redel-aisolutions.com","toEmail":"denny.redel@icloud.com","subject":"Lieferung","emailFormat":"text","text":"={{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2200,-360],"id":"66a40adb-4aa5-44f5-a243-fea9232873b4","name":"Send Email","webhookId":"1c37b7fc-e587-4e26-8b13-25022f18d054","credentials":{"smtp":{"id":"CYZNGyn17Upg6wQ8","name":"SMTP account Denny"}}},{"parameters":{"fromEmail":"denny@redel-aisolutions.com","toEmail":"denny.redel@icloud.com","subject":"Lieferung","emailFormat":"text","text":"={{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2180,-160],"id":"e5eccbd6-8eb4-4fa7-9e51-167b97c366b4","name":"Send Email1","webhookId":"1c37b7fc-e587-4e26-8b13-25022f18d054","credentials":{"smtp":{"id":"CYZNGyn17Upg6wQ8","name":"SMTP account Denny"}}},{"parameters":{"fromEmail":"denny@redel-aisolutions.com","toEmail":"denny.redel@icloud.com","subject":"Lieferung","emailFormat":"text","text":"={{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2200,20],"id":"fab46cec-667f-4a88-8bbb-27dd02fa67f1","name":"Send Email2","webhookId":"1c37b7fc-e587-4e26-8b13-25022f18d054","credentials":{"smtp":{"id":"CYZNGyn17Upg6wQ8","name":"SMTP account Denny"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1840,280],"id":"dad2fe9e-921f-4739-ad52-930ae45e4a9e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"c7rOayprscHnt5na","name":"OpenAi account Main (Denny)"}}}],"connections":{"Postgres":{"ai_tool":[[{"node":"Transporter Agent","type":"ai_tool","index":0}]]},"Postgres1":{"main":[[]]},"Transporter Agent":{"main":[[{"node":"Dringlichkeit Agent","type":"main","index":0}]]},"Dringlichkeit Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"create Message2","type":"main","index":0}],[{"node":"create Message1","type":"main","index":0}],[{"node":"create Message","type":"main","index":0}]]},"create Message":{"main":[[{"node":"Send Email2","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Transporter Agent","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Transporter Agent1","type":"ai_memory","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"Transporter Agent1","type":"ai_tool","index":0}]]},"create Message1":{"main":[[{"node":"Send Email1","type":"main","index":0}]]},"Transporter Agent1":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Transporter Agent1","type":"main","index":0}]]},"create Message2":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Dringlichkeit Router","type":"ai_languageModel","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"OpenAI1","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"If":{"main":[[{"node":"Crypto","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Transporter Agent1","type":"ai_languageModel","index":0},{"node":"Dringlichkeit Agent","type":"ai_languageModel","index":0},{"node":"Transporter Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timezone":"Europe/London"},"staticData":null,"meta":{"templateCredsSetupCompleted":true,"instanceId":"ed4f3f37220443d82fec76dc79b331975281d2af5e70e3db9bcbd487ec78ae41"},"pinData":{},"versionId":"41c248be-4ae8-4503-b149-fe1191b4405a","triggerCount":0,"tags":[{"createdAt":"2025-04-16T15:18:30.182Z","updatedAt":"2025-04-16T15:18:30.182Z","id":"VQi3KEBBWBtOSeq1","name":"Shipping"},{"createdAt":"2025-04-16T15:17:18.834Z","updatedAt":"2025-04-16T15:17:18.834Z","id":"FiE0KOB9mIP6XbMI","name":"Prototype"}],"shared":[{"createdAt":"2025-08-18T20:30:24.756Z","updatedAt":"2025-08-18T20:30:24.756Z","role":"workflow:owner","workflowId":"q5h1vAwJ6yGtTXdO","projectId":"om5T1jDAb8yZPqPE","project":{"createdAt":"2025-08-18T20:30:18.174Z","updatedAt":"2025-08-18T20:33:31.932Z","id":"om5T1jDAb8yZPqPE","name":"Denny Redel <denny.redel@icloud.com>","type":"personal","icon":null,"description":null}}]}