backup/qXbJTa5k5SoQAkgM.json
{"createdAt":"2025-08-18T20:45:31.628Z","updatedAt":"2025-08-19T06:31:08.065Z","id":"qXbJTa5k5SoQAkgM","name":"Augenstein FollowUp","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://custom-api:5001/api","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"name\": \" {{ $('Webhook').first().json.body.first_name }}\",\n    \"nachname\": \"{{ $('Webhook').first().json.body.last_name }}\",\n    \"firma\": \"{{ $('Webhook').first().json.body.company }}\",\n    \"email\": \"{{ $('Webhook').first().json.body.email }}\",\n    \"straße\": \"{{ $('Webhook').first().json.body.state }}\",\n    \"stadt\": \"\",\n    \"anrede\": \"{{ $node[\"Webhook\"].json.body.title === \"Mrs\" ? \"Frau\" : $node[\"Webhook\"].json.body.title === \"Mr\" ? \"Herr\" : \"\" }}\",\n    \"datum\": \"{{ new Date().toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' }) }}\",\n    \"gültigbisdatum\": \"{{ new Date(Date.now() + 14 * 24 * 60 * 60 * 1000).toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' }) }}\",\n    \"offer_number\": \"{{ $('Postgres').first().json.value }}\",\n    \"greeting\": \"{{ $node[\"Webhook\"].json.body.title === \"Mrs\" ? \" geehrte\" : $node[\"Webhook\"].json.body.title === \"Mr\" ? \" geehrter\" : \" geehrte(r)\" }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,0],"id":"c328978a-9424-4480-89af-2222463d0b67","name":"HTTP Request"},{"parameters":{"fromEmail":"sales@einrichtungenplanen.de","toEmail":"={{ $('Webhook').first().json.body.email }}","subject":"=WG: [pCon-Shop]: Neue Bestellung #{{ $('Postgres').first().json.value }}","html":"=Hallo {{ $node[\"Webhook\"].json.body.title === \"Mrs\" ? \"Frau\" : $node[\"Webhook\"].json.body.title === \"Mr\" ? \"Herr\" : \"\" }} {{ $('Webhook').first().json.body.last_name }},\n<br>\n<br>\nvielen Dank für Ihr Interesse am pCon.planner.\n<br>\nBeiliegend sende ich Ihnen unser Angebot. (siehe Anhang) Gerne einfach per Mail bestätigen, dann schalten wir die Lizenz innerhalb von 24 Stunden frei oder besuchen Sie unseren <a href=\"https://pcon-shop.de/?gad_source=1&gad_campaignid=21985967027&gbraid=0AAAAA-hU1frL2M_o1Nf1JNLXRm31V0Zuw&gclid=CjwKCAjwprjDBhBTEiwA1m1d0lXnSbd_MViJsz3l0LuMJg6pbJ-4OBu0njZgkeagt6VderGxLeQ2choCdx4QAvD_BwE\">Shop</a>.\n<br>\n<br>\n\nDamit wir Ihnen die Lizenz/Lizenzen im Falle der Bestellung ausliefern können, benötigen wir Ihre Kundennummer.\n<br>\nBitte registrieren Sie sich dazu hier: <a href=\"https://login.pcon-solutions.com/de/\">Übersicht - pCon.login</a> Dieser Schritt dauert nur wenige Minuten.\n<br>\nEine Videoanleitung dazu finden Sie hier: <a href=\"https://www.youtube.com/watch?v=0KDLhXkpxcs&t=20s\">pCon.login Account erstellen und Herstellerdaten anfragen | pCon Tutorial</a>\n<br>\n<br>\n\nDamit Sie schnell in das Programm finden, empfehle ich Ihnen unsere Webinar-Veranstaltung\n<a href=\"https://gamma.app/docs/ONLINE-pConplanner-WORKSHOP-i0cw4zyd0lr21ew?mode=doc\" target=\"_blank\" rel=\"noopener noreferrer\">\n„pCon.planner Basis-Aufbauschulung“\n</a>.\n<br>\nHier lernen Sie in 1,5 Tagen für nur 380 € pro Person, wie Sie mit dem Programm richtig arbeiten und Ihre Pläne ideal präsentieren.\n<br>\n<br>\n\nFür Fragen oder zur Bestellung wenden Sie sich gerne direkt an unseren Geschäftsführer,\n<br>Herrn Niklas Wille:\nTel: +49 (0) 176 2146 2491\n<br>\nMail: nw@einrichtungenplanen.de\n<br>\n<br>\n\nViele Grüße\n<br>\nUlrich Augenstein\n<br>\nKundenbetreuung\n<br>\n<br>\n<br>\n\nK&S Media Büro Pforzheim\n<br>\nDurlacher Str. 1\n<br>\n75172 Pforzheim │ Germany\n<br>\n<br>\n<br>\n\nK&S Media GmbH\n<br>\nBürstädter Straße 9\n<br>\n68623 Lampertheim │ Germany\n<br>\n<br>\n<br>\n\nMobil: +49 (0) 176 2146 2491\n<br>\nE-Mail: nw@einrichtungenplanen.de\n<br>\nWebseite: www.einrichtungenplanen.de\n<br>\nLinkedIn: <a href=\"https://www.linkedin.com/in/niklas-wille-458578103/\">NiklasWille</a>\n<br>\n<br>\nGeschäftsführung Michael Kirchner / Ralf Schulte / Niklas Wille / Amtsgericht Lampertheim, HRB 62150\n<br>\n<br>","options":{"appendAttribution":false,"attachments":"data","bccEmail":"sales@einrichtungenplanen.de"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[784,144],"id":"fcec23b7-19ee-4f30-bc63-d24f98f40ad1","name":"Send Email","webhookId":"87db5811-2785-4cd3-9eca-e51d2068e7ba","credentials":{"smtp":{"id":"oflBukWG8JUryL0p","name":"SMTP account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE number_storage SET value = value + 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1024,144],"id":"c67ccbda-d596-49bd-8c20-65339f2ac8a8","name":"Postgres1","credentials":{"postgres":{"id":"X9bPA1fjRzsTz6LI","name":"Postgres account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"number_storage","mode":"list","cachedResultName":"number_storage"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-240,144],"id":"a87cefe4-6a3a-4c38-8201-f0d04ee42b6c","name":"Postgres","credentials":{"postgres":{"id":"X9bPA1fjRzsTz6LI","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"{\n  \"erfolg\": true\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[1312,144],"id":"10ae48aa-a30e-4aac-a03c-bba38cdef650","name":"Respond to Webhook"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[240,288],"id":"492e0414-d986-46be-8a5b-d6f948fba7bc","name":"Merge"},{"parameters":{"jsCode":"const item1 = $(\"HTTP Request\").first();\nconst item2 = $(\"Read/Write Files from Disk1\").first();\n\nif (!item1.binary || !item1.binary.data || !item2.binary || !item2.binary.data) {\n  throw new Error('Ein oder beide Items enthalten keine Binärdaten!');\n}\n\nreturn [\n  {\n    json: {},\n    binary: {\n      angebot: {\n        data: item1.binary.data.data,\n        mimeType: item1.binary.data.mimeType || 'application/pdf',\n        fileName: 'Angebot_pCon.pdf', // Explizit mit .pdf\n        fileExtension: item1.binary.data.fileExtension || 'pdf',\n        fileSize: item1.binary.data.fileSize || item1.binary.data.data.length\n      },\n      flyer: {\n        data: item2.binary.data.data,\n        mimeType: item2.binary.data.mimeType || 'application/pdf',\n        fileName: item2.binary.data.fileName || 'Webtraining_Flyer.pdf',\n        fileExtension: item2.binary.data.fileExtension || 'pdf',\n        fileSize: item2.binary.data.fileSize || item2.binary.data.data.length\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,288],"id":"d53334cd-8583-4f72-87ce-54b3b8fdc86f","name":"Code"},{"parameters":{"fileSelector":"/daten/Webtraining Flyer.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[0,288],"id":"d9faa079-5a0e-449b-8305-baab51795386","name":"Read/Write Files from Disk1","alwaysOutputData":false},{"parameters":{"httpMethod":"POST","path":"35942e7d-efb4-4321-9586-d77721323533","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-560,144],"id":"4c8d5fa3-c7ca-422a-838a-8deccd5a54b0","name":"Webhook","webhookId":"35942e7d-efb4-4321-9586-d77721323533"},{"parameters":{"operation":"executeQuery","query":"-- 1️⃣ Tabelle erstellen\nCREATE TABLE number_storage (\n    value BIGINT\n);\n\n-- 2️⃣ Wert einfügen\nINSERT INTO number_storage (value) VALUES (202097);\n\n-- 3️⃣ Optional: prüfen, ob der Wert drin ist\nSELECT * FROM number_storage;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,-160],"id":"1c0937a9-1093-40c9-9f48-50ea4429681d","name":"Execute a SQL query","credentials":{"postgres":{"id":"X9bPA1fjRzsTz6LI","name":"Postgres account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Webhook":{"main":[[{"node":"Postgres","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"ks-media.redel-aisolutions.com","x-real-ip":"107.178.224.15","x-forwarded-for":"2003:df:2f12:4300:98af:791c:d1f7:77bd, 107.178.224.15","x-forwarded-proto":"https","connection":"upgrade","content-length":"394","content-type":"application/json","user-agent":"Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd-vD2zkrRvfbycsg9_zqxwztvy3IxE)","accept-encoding":"gzip, deflate, br"},"params":{},"query":{},"body":{"date":"5/20/2025","time":"1899-12-30T09:37:19.000Z","ip":"84.39.70.0","country_code":"de","title":"Mr","first_name":"Spitz","last_name":"Christopher","company":"","state":"","country":"Germany","email":"denny.redel@icloud.com","consent":"no","source":"www.easterngraphics.com","referrer":"Other user","plan_id":8120,"plan_name":"PRO","plan_price":"\"09181 / 4750-50: Grasenhiller InnoTech\""},"webhookUrl":"https://ks-media.redel-aisolutions.com/webhook/35942e7d-efb4-4321-9586-d77721323533","executionMode":"production"}}]},"versionId":"ee9c5434-2587-41ac-8848-03d4bf48fc69","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-08-18T20:45:31.628Z","updatedAt":"2025-08-18T20:45:31.628Z","role":"workflow:owner","workflowId":"qXbJTa5k5SoQAkgM","projectId":"om5T1jDAb8yZPqPE","project":{"createdAt":"2025-08-18T20:30:18.174Z","updatedAt":"2025-08-18T20:33:31.932Z","id":"om5T1jDAb8yZPqPE","name":"Denny Redel <denny.redel@icloud.com>","type":"personal","icon":null,"description":null}}]}